{"openapi":"3.1.0","info":{"title":"Partner Service","version":"0.2.240"},"servers":[{"url":"https://api.explorium.ai","description":"AgentSource Server"}],"paths":{"/healthcheck/http":{"get":{"tags":["Healthcheck"],"summary":"Healthcheck","operationId":"healthcheck","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Healthcheck"}}}}}}},"/healthcheck/http_payload/{response_bytes}":{"get":{"tags":["Healthcheck"],"summary":"Healthcheck Bytes","operationId":"healthcheck_bytes","parameters":[{"required":true,"schema":{"type":"integer","maximum":1000000.0,"title":"Response Bytes"},"name":"response_bytes","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Healthcheck Bytes"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/version/":{"get":{"tags":["Version"],"summary":"Version","operationId":"version","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Version"}}}}}}},"/v1/businesses/match":{"post":{"tags":["Businesses"],"summary":"Match Businesses","description":"Match a list of businesses attributes to ids.\nReturns a list of the same length and order as the input list, with the matched ids.","operationId":"match_businesses","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesMatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesMatchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses":{"post":{"tags":["Businesses"],"summary":"Fetch Businesses","description":"Filters businesses by country, company size, revenue, and more.\nReturns minimal data needed for further filtering, deduplication, or record previews.","operationId":"fetch_businesses","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesFetchRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/BusinessesFetchResponse"},{"$ref":"#/components/schemas/BusinessesFetchResponseV2"}],"title":"Response Fetch Businesses"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/events":{"post":{"tags":["Businesses"],"summary":"Fetch Businesses Events","description":"Create events and fetch for businesses.","operationId":"fetch_businesses_events","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEventsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/autocomplete":{"get":{"tags":["Businesses"],"summary":"Autocomplete Businesses","description":"Autocomplete businesses by field and query.","operationId":"businesses_autocomplete","parameters":[{"required":true,"schema":{"$ref":"#/components/schemas/AutocompleteType"},"name":"field","in":"query"},{"required":false,"schema":{"type":"string","title":"Query","default":""},"name":"query","in":"query"},{"required":false,"schema":{"type":"boolean","title":"Semantic Search","default":false},"name":"semantic_search","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AutoCompleteItem"},"type":"array","title":"Response Businesses Autocomplete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/stats":{"post":{"tags":["Businesses"],"summary":"Fetch Stats","description":"Fetch stats for businesses.","operationId":"fetch_stats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesStatsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesStatsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/events/enrollments":{"get":{"tags":["Businesses"],"summary":"Get Businesses Enrollments","description":"Show businesses events enrollments records for user.","operationId":"get_businesses_enrollments","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsGetResponse"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"post":{"tags":["Businesses"],"summary":"Add Businesses Enrollments","description":"Add enrollments for businesses","operationId":"add_businesses_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsAddRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsAddResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"delete":{"tags":["Businesses"],"summary":"Delete Businesses Enrollments","description":"Delete events enrollments records","operationId":"delete_businesses_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsDeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"patch":{"tags":["Businesses"],"summary":"Update Businesses Enrollments","description":"Update enrollments for businesses","operationId":"update_businesses_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrollmentsUpdateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/match":{"post":{"tags":["Prospects"],"summary":"Match Prospects","description":"Match a list of prospects attributes to ids.\nReturns a list of the same length and order as the input list, with the matched ids.","operationId":"match_prospects","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsMatchRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsMatchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects":{"post":{"tags":["Prospects"],"summary":"Fetch Prospects","operationId":"fetch_prospects","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsFetchRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ProspectsFetchResponse"},{"$ref":"#/components/schemas/ProspectsFetchResponseV2"}],"title":"Response Fetch Prospects"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/stats":{"post":{"tags":["Prospects"],"summary":"Prospect Fetch Stats","description":"Fetch stats for businesses.","operationId":"prospect_fetch_stats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsStatsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsStatsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/events":{"post":{"tags":["Prospects"],"summary":"Fetch Prospects Events","description":"Create events and fetch for prospects.","operationId":"fetch_prospects_events","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEventsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/autocomplete":{"get":{"tags":["Prospects"],"summary":"Autocomplete Prospects","description":"Autocomplete prospects fields values by field name.","operationId":"prospects_autocomplete","parameters":[{"required":true,"schema":{"$ref":"#/components/schemas/AutocompleteType"},"name":"field","in":"query"},{"required":false,"schema":{"type":"string","title":"Query","default":""},"name":"query","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AutoCompleteItem"},"type":"array","title":"Response Prospects Autocomplete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/events/enrollments":{"get":{"tags":["Prospects"],"summary":"Get Prospects Enrollments","description":"Show prospects events enrollments records for user.","operationId":"get_prospects_enrollments","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsGetResponse"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"post":{"tags":["Prospects"],"summary":"Add Prospects Enrollments","description":"Add enrollments for prospects","operationId":"add_prospects_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsAddRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsAddResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"delete":{"tags":["Prospects"],"summary":"Delete Prospects Enrollments","description":"Delete events enrollments records","operationId":"delete_prospects_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsDeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"patch":{"tags":["Prospects"],"summary":"Update Prospects Enrollments","description":"Update enrollments for prospects","operationId":"update_prospects_enrollments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrollmentsUpdateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/credits":{"get":{"tags":["Credits"],"summary":"Get Active Credits Summary","operationId":"get_active_credits_summary","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActiveCreditSummaryResponse"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/credits/aggregation":{"post":{"tags":["Credits"],"summary":"Get Credit Aggregation","operationId":"get_credit_aggregation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAggregationRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAggregationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/webhooks":{"post":{"tags":["Webhooks"],"summary":"Add Webhook","description":"Add a webhook for events enrollments.","operationId":"add_webhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookAddRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookAddResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/webhooks/{partner_id}":{"get":{"tags":["Webhooks"],"summary":"Get Webhook","description":"Get an events enrollments webhook by partner_id.","operationId":"get_webhook","parameters":[{"required":true,"schema":{"type":"string","title":"Partner Id"},"name":"partner_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookGetResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]},"delete":{"tags":["Webhooks"],"summary":"Delete Webhook","description":"Delete an events enrollments webhook by partner_id.","operationId":"delete_webhook","parameters":[{"required":true,"schema":{"type":"string","title":"Partner Id"},"name":"partner_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookDeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/webhooks/check_connectivity":{"post":{"tags":["Webhooks"],"summary":"Check Webhook Connectivity","operationId":"check_webhook_connectivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCheckConnectivityRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCheckConnectivityResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/bombora_intent/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Bombora Intent","operationId":"businesses_bombora_intent_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BomboraIntentEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_BomboraIntentOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_hierarchies/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Company Hierarchies","operationId":"businesses_company_hierarchies_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_CompanyHierarchiesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_ratings_by_employees/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Company Ratings By Employees","operationId":"businesses_company_ratings_by_employees_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_CompanyRatingsByEmployeesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_website_keywords/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Company Website Keywords","operationId":"businesses_company_website_keywords_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyWebsiteKeywordsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_CompanyWebsiteKeywordsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/financial_indicators/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Financial Indicators","operationId":"businesses_financial_indicators_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialIndicatorsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_FinancialIndicatorsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/firmographics/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Firmographics","operationId":"businesses_firmographics_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_FirmographicsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/funding_and_acquisition/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Funding And Acquisition","operationId":"businesses_funding_and_acquisition_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_FundingAndAcquisitionOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/linkedin_posts/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Linkedin Posts","operationId":"businesses_linkedin_posts_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/partner_service__models__businesses__enrich_requests__LinkedInPostsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_LinkedinCompaniesPostsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/lookalikes/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Lookalikes","operationId":"businesses_lookalikes_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_LookalikesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_business_challenges_10k/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Pc Business Challenges 10K","operationId":"businesses_pc_business_challenges_10k_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_PCBusinessChallenges10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_competitive_landscape_10k/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Pc Competitive Landscape 10K","operationId":"businesses_pc_competitive_landscape_10k_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_PCCompetitiveLandscape10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_strategy_10k/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Pc Strategy 10K","operationId":"businesses_pc_strategy_10k_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_PCStrategy10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/technographics/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Technographics","operationId":"businesses_technographics_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_TechnographicsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/website_changes/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Website Changes","operationId":"businesses_website_changes_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_WebsiteChangesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/website_traffic/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Website Traffic","operationId":"businesses_website_traffic_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteTrafficEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_WebsiteTrafficOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/webstack/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Webstack","operationId":"businesses_webstack_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_WebstackOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/workforce_trends/enrich":{"post":{"tags":["BusinessEnrichments"],"summary":"Workforce Trends","operationId":"businesses_workforce_trends_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichResponse_WorkforceTrendsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/bombora_intent/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Bombora Intent","operationId":"businesses_bombora_intent_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BomboraIntentBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_BomboraIntentOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_hierarchies/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Company Hierarchies","operationId":"businesses_company_hierarchies_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_CompanyHierarchiesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_ratings_by_employees/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Company Ratings By Employees","operationId":"businesses_company_ratings_by_employees_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_CompanyRatingsByEmployeesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/company_website_keywords/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Company Website Keywords","operationId":"businesses_company_website_keywords_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyWebsiteKeywordsBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_CompanyWebsiteKeywordsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/financial_indicators/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Financial Indicators","operationId":"businesses_financial_indicators_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialIndicatorsBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_FinancialIndicatorsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/firmographics/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Firmographics","operationId":"businesses_firmographics_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_FirmographicsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/funding_and_acquisition/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Funding And Acquisition","operationId":"businesses_funding_and_acquisition_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_FundingAndAcquisitionOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/linkedin_posts/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Linkedin Posts","operationId":"businesses_linkedin_posts_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/partner_service__models__businesses__enrich_requests__LinkedInPostsBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_LinkedinCompaniesPostsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/lookalikes/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Lookalikes","operationId":"businesses_lookalikes_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_LookalikesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_business_challenges_10k/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Pc Business Challenges 10K","operationId":"businesses_pc_business_challenges_10k_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_PCBusinessChallenges10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_competitive_landscape_10k/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Pc Competitive Landscape 10K","operationId":"businesses_pc_competitive_landscape_10k_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_PCCompetitiveLandscape10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/pc_strategy_10k/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Pc Strategy 10K","operationId":"businesses_pc_strategy_10k_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_PCStrategy10kOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/technographics/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Technographics","operationId":"businesses_technographics_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_TechnographicsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/website_changes/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Website Changes","operationId":"businesses_website_changes_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_WebsiteChangesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/website_traffic/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Website Traffic","operationId":"businesses_website_traffic_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteTrafficBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_WebsiteTrafficOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/webstack/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Webstack","operationId":"businesses_webstack_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_WebstackOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/businesses/workforce_trends/bulk_enrich":{"post":{"tags":["BulkBusinessEnrichments"],"summary":"Workforce Trends","operationId":"businesses_workforce_trends_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichResponse_WorkforceTrendsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/contacts_information/bulk_enrich":{"post":{"tags":["ProspectsBulkEnrichments"],"summary":"Contacts Information","operationId":"prospects_contacts_information_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsBulkContactsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsBulkEnrichResponse_ContactsInformationOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/linkedin_posts/bulk_enrich":{"post":{"tags":["ProspectsBulkEnrichments"],"summary":"Linkedin Posts","operationId":"prospects_linkedin_posts_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/partner_service__models__prospects__enrich_requests__LinkedInPostsBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsBulkEnrichResponse_LinkedinProspectsPostsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/profiles/bulk_enrich":{"post":{"tags":["ProspectsBulkEnrichments"],"summary":"Profiles","operationId":"prospects_profiles_bulk_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsBulkEnrichResponse_ProfilesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/contacts_information/enrich":{"post":{"tags":["ProspectsEnrichments"],"summary":"Contacts Information","operationId":"prospects_contacts_information_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsContactsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrichResponse_ContactsInformationOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/linkedin_posts/enrich":{"post":{"tags":["ProspectsEnrichments"],"summary":"Linkedin Posts","operationId":"prospects_linkedin_posts_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/partner_service__models__prospects__enrich_requests__LinkedInPostsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrichResponse_LinkedinProspectsPostsOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/prospects/profiles/enrich":{"post":{"tags":["ProspectsEnrichments"],"summary":"Profiles","operationId":"prospects_profiles_enrich","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProspectsEnrichResponse_ProfilesOutputSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/custom_enrichments/{custom_enrichment_id}/enrich":{"post":{"tags":["CustomEnrichments"],"summary":"Enrich With Custom Enrichment","description":"Enrich a business using a custom enrichment.\nReturns enriched data with the results from the custom enrichment.","operationId":"enrich_with_custom_enrichment","parameters":[{"required":true,"schema":{"type":"string","title":"Custom Enrichment Id"},"name":"custom_enrichment_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomEnrichmentEnrichResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}},"/v1/custom_enrichments/{enrichment_id}/bulk_enrich":{"post":{"tags":["CustomEnrichments"],"summary":"Bulk Enrich With Custom Enrichment","description":"Enrich businesses using a custom enrichment.\nReturns enriched data with the results from the custom enrichment.","operationId":"bulk_enrich_with_custom_enrichment","parameters":[{"required":true,"schema":{"type":"string","title":"Enrichment Id"},"name":"enrichment_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BusinessesBulkEnrichRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomEnrichmentEnrichResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyHeader":[]}]}}},"components":{"schemas":{"ActiveCreditSummaryResponse":{"properties":{"response_context":{"$ref":"#/components/schemas/ResponseContext"},"allocated_credits":{"type":"integer","title":"Allocated Credits","description":"Number of allocated credits"},"remaining_credits":{"type":"integer","title":"Remaining Credits","description":"Number of remaining credits"}},"type":"object","required":["response_context","allocated_credits","remaining_credits"],"title":"ActiveCreditSummaryResponse","description":"This is base response model for all responses in partner service. "},"AnyMatchFilter_OrganizationName_":{"properties":{"values":{"items":{"type":"string","maxLength":256},"type":"array","title":"Values"}},"additionalProperties":false,"type":"object","required":["values"],"title":"AnyMatchFilter[OrganizationName]"},"AnyMatchFilter_Text_":{"properties":{"values":{"items":{"type":"string"},"type":"array","title":"Values"}},"additionalProperties":false,"type":"object","required":["values"],"title":"AnyMatchFilter[Text]"},"AnyMatchPhraseFilter_Text_":{"properties":{"values":{"items":{"type":"string"},"type":"array","title":"Values"}},"additionalProperties":false,"type":"object","required":["values"],"title":"AnyMatchPhraseFilter[Text]"},"AutoCompleteItem":{"properties":{"query":{"type":"string","title":"Query"},"label":{"type":"string","title":"Label"},"value":{"type":"string","title":"Value"}},"type":"object","required":["query","label","value"],"title":"AutoCompleteItem","example":{"query":"united","label":"United States","value":"us"}},"AutocompleteType":{"enum":["country","country_code","region_country_code","google_category","naics_category","linkedin_category","company_tech_stack_tech","company_tech_stack_categories","job_title","company_size","company_revenue","number_of_locations","company_age","job_department","job_level","city_region_country","company_name","business_intent_topics"],"title":"AutocompleteType","description":"Enum for autocomplete types."},"BaseFetchMode":{"type":"string","enum":["full","preview"],"title":"BaseFetchMode","description":"The `BaseFetchMode` class is an enumeration that defines the modes for fetching data.\n\nThis enum is used to specify whether the fetch operation should retrieve the full data\nor just a preview of the data. It ensures consistent handling of fetch modes across\nthe application.\n\nAttributes:\n    FULL: Fetch the complete data.\n    PREVIEW: Fetch a preview or partial data."},"BomboraIntentBulkEnrichRequest":{"properties":{"request_context":{"type":"object","title":"Request Context","nullable":true},"parameters":{"$ref":"#/components/schemas/BomboraIntentEnrichmentParams"},"business_ids":{"items":{"type":"string","pattern":"^[a-f0-9]{32}$"},"type":"array","maxItems":50,"minItems":1,"title":"Business Ids"}},"additionalProperties":false,"type":"object","required":["business_ids"],"title":"BomboraIntentBulkEnrichRequest"},"BomboraIntentEnrichRequest":{"properties":{"request_context":{"type":"object","title":"Request Context","nullable":true},"parameters":{"$ref":"#/components/schemas/BomboraIntentEnrichmentParams"},"business_id":{"type":"string","pattern":"^[a-f0-9]{32}$","title":"Business Id"}},"additionalProperties":false,"type":"object","required":["business_id"],"title":"BomboraIntentEnrichRequest"},"BomboraIntentEnrichmentParams":{"properties":{"topics":{"items":{"type":"string"},"type":"array","title":"Topics"},"min_score":{"type":"integer","title":"Min Score"}},"additionalProperties":false,"type":"object","title":"BomboraIntentEnrichmentParams"},"BomboraIntentOutputSchema":{"properties":{"business_id":{"type":"string","pattern":"^[a-f0-9]{32}$","title":"Business Id"},"company_name":{"type":"string","maxLength":256,"title":"Company Name"},"company_website":{"type":"string","maxLength":2048,"pattern":"^(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\u00a1-\\uffff]\\.)+[a-z\\u00a1-\\uffff]{2,}\\.?(?:[/?#]\\S*)?$","format":"uri","title":"Company Website"},"date_stamp":{"type":"string","title":"Date Stamp"},"intent_topics":{"type":"string","title":"Intent Topics"},"level_of_intent":{"type":"string","title":"Level Of Intent"},"topic_count":{"type":"string","title":"Topic Count"}},"type":"object","required":["intent_topics"],"title":"BomboraIntentOutputSchema"},"Business":{"properties":{"business_id":{"type":"string","pattern":"^[a-f0-9]{32}$","title":"Business Id"},"name":{"type":"string","maxLength":256,"title":"Name"},"domain":{"type":"string","maxLength":2048,"pattern":"^(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?)$","title":"Domain"},"logo":{"type":"string","title":"Logo"},"country_name":{"type":"string","pattern":"^(aruba|afghanistan|angola|anguilla|åland\\ islands|albania|andorra|united\\ arab\\ emirates|argentina|armenia|american\\ samoa|antarctica|french\\ southern\\ territories|antigua\\ and\\ barbuda|australia|austria|azerbaijan|burundi|belgium|benin|bonaire,\\ sint\\ eustatius\\ and\\ saba|burkina\\ faso|bangladesh|bulgaria|bahrain|bahamas|bosnia\\ and\\ herzegovina|saint\\ barthélemy|belarus|belize|bermuda|bolivia,\\ plurinational\\ state\\ of|brazil|barbados|brunei\\ darussalam|bhutan|bouvet\\ island|botswana|central\\ african\\ republic|canada|cocos\\ \\(keeling\\)\\ islands|switzerland|chile|china|côte\\ d'ivoire|cameroon|congo,\\ the\\ democratic\\ republic\\ of\\ the|congo|cook\\ islands|colombia|comoros|cabo\\ verde|costa\\ rica|cuba|curaçao|christmas\\ island|cayman\\ islands|cyprus|czechia|germany|djibouti|dominica|denmark|dominican\\ republic|algeria|ecuador|egypt|eritrea|western\\ sahara|spain|estonia|ethiopia|finland|fiji|falkland\\ islands\\ \\(malvinas\\)|france|faroe\\ islands|micronesia,\\ federated\\ states\\ of|gabon|united\\ kingdom|georgia|guernsey|ghana|gibraltar|guinea|guadeloupe|gambia|guinea\\-bissau|equatorial\\ guinea|greece|grenada|greenland|guatemala|french\\ guiana|guam|guyana|hong\\ kong|heard\\ island\\ and\\ mcdonald\\ islands|honduras|croatia|haiti|hungary|indonesia|isle\\ of\\ man|india|british\\ indian\\ ocean\\ territory|ireland|iran,\\ islamic\\ republic\\ of|iraq|iceland|israel|italy|jamaica|jersey|jordan|japan|kazakhstan|kenya|kyrgyzstan|cambodia|kiribati|saint\\ kitts\\ and\\ nevis|korea,\\ republic\\ of|kuwait|lao\\ people's\\ democratic\\ republic|lebanon|liberia|libya|saint\\ lucia|liechtenstein|sri\\ lanka|lesotho|lithuania|luxembourg|latvia|macao|saint\\ martin\\ \\(french\\ part\\)|morocco|monaco|moldova,\\ republic\\ of|madagascar|maldives|mexico|marshall\\ islands|north\\ macedonia|mali|malta|myanmar|montenegro|mongolia|northern\\ mariana\\ islands|mozambique|mauritania|montserrat|martinique|mauritius|malawi|malaysia|mayotte|namibia|new\\ caledonia|niger|norfolk\\ island|nigeria|nicaragua|niue|netherlands|norway|nepal|nauru|new\\ zealand|oman|pakistan|panama|pitcairn|peru|philippines|palau|papua\\ new\\ guinea|poland|puerto\\ rico|korea,\\ democratic\\ people's\\ republic\\ of|portugal|paraguay|palestine,\\ state\\ of|french\\ polynesia|qatar|réunion|romania|russian\\ federation|rwanda|saudi\\ arabia|sudan|senegal|singapore|south\\ georgia\\ and\\ the\\ south\\ sandwich\\ islands|saint\\ helena,\\ ascension\\ and\\ tristan\\ da\\ cunha|svalbard\\ and\\ jan\\ mayen|solomon\\ islands|sierra\\ leone|el\\ salvador|san\\ marino|somalia|saint\\ pierre\\ and\\ miquelon|serbia|south\\ sudan|sao\\ tome\\ and\\ principe|suriname|slovakia|slovenia|sweden|eswatini|sint\\ maarten\\ \\(dutch\\ part\\)|seychelles|syrian\\ arab\\ republic|turks\\ and\\ caicos\\ islands|chad|togo|thailand|tajikistan|tokelau|turkmenistan|timor\\-leste|tonga|trinidad\\ and\\ tobago|tunisia|turkey|tuvalu|taiwan,\\ province\\ of\\ china|tanzania,\\ united\\ republic\\ of|uganda|ukraine|united\\ states\\ minor\\ outlying\\ islands|uruguay|united\\ states|uzbekistan|holy\\ see\\ \\(vatican\\ city\\ state\\)|saint\\ vincent\\ and\\ the\\ grenadines|venezuela,\\ bolivarian\\ republic\\ of|virgin\\ islands,\\ british|virgin\\ islands,\\ u\\.s\\.|viet\\ nam|vanuatu|wallis\\ and\\ futuna|samoa|kosovo|yemen|south\\ africa|zambia|zimbabwe)$","title":"Country Name"},"number_of_employees_range":{"$ref":"#/components/schemas/NumberOfEmployeesRange"},"yearly_revenue_range":{"$ref":"#/components/schemas/RevenueRange"},"website":{"type":"string","title":"Website"},"business_description":{"type":"string","title":"Business Description"},"region":{"type":"string","pattern":"^(canillo|encamp|la\\ massana|ordino|sant\\ julià\\ de\\ lòria|andorra\\ la\\ vella|escaldes\\-engordany|'ajmān|abū\\ ȥaby\\ \\[abu\\ dhabi\\]|dubayy|al\\ fujayrah|ra’s\\ al\\ khaymah|ash\\ shāriqah|umm\\ al\\ qaywayn|balkh|bāmyān|bādghīs|badakhshān|baghlān|dāykundī|farāh|fāryāb|ghaznī|ghōr|helmand|herāt|jowzjān|kābul|kandahār|kāpīsā|kunduz|khōst|kunar|laghmān|lōgar|nangarhār|nīmrōz|nūristān|panjshayr|parwān|paktiyā|paktīkā|samangān|sar\\-e\\ pul|takhār|uruzgān|wardak|zābul|saint\\ george|saint\\ john|saint\\ mary|saint\\ paul|saint\\ peter|saint\\ philip|barbuda|redonda|berat|durrës|elbasan|fier|gjirokastër|korçë|kukës|lezhë|dibër|shkodër|tiranë|vlorë|berat|bulqizë|dibër|delvinë|durrës|devoll|elbasan|kolonjë|fier|gjirokastër|gramsh|has|kavajë|kurbin|kuçovë|korçë|krujë|kukës|librazhd|lezhë|lushnjë|mallakastër|malësi\\ e\\ madhe|mirditë|mat|pogradec|peqin|përmet|pukë|shkodër|skrapar|sarandë|tepelenë|tropojë|tiranë|vlorë|aragacotn|ararat|armavir|erevan|gegarkunik'|kotayk'|lory|sirak|syunik'|tavus|vayoc\\ jor|bengo|benguela|bié|cabinda|cuando\\-cubango|cunene|cuanza\\ norte|cuanza\\ sul|huambo|huíla|lunda\\ norte|lunda\\ sul|luanda|malange|moxico|namibe|uíge|zaire|salta|buenos\\ aires|ciudad\\ autónoma\\ de\\ buenos\\ aires|san\\ luis|entre\\ rios|santiago\\ del\\ estero|chaco|san\\ juan|catamarca|la\\ pampa|mendoza|misiones|formosa|neuquen|rio\\ negro|santa\\ fe|tucuman|chubut|tierra\\ del\\ fuego|corrientes|cordoba|jujuy|santa\\ cruz|burgenland|kärnten|niederösterreich|oberösterreich|salzburg|steiermark|tirol|vorarlberg|wien|australian\\ capital\\ territory|new\\ south\\ wales|northern\\ territory|queensland|south\\ australia|tasmania|victoria|western\\ australia|abşeron|ağstafa|ağcabədi|ağdam|ağdaş|ağsu|astara|bakı|babək|balakən|bərdə|beyləqan|biləsuvar|cəbrayıl|cəlilabab|culfa|daşkəsən|füzuli|gəncə|gədəbəy|goranboy|göyçay|göygöl|hacıqabul|i̇mişli|i̇smayıllı|kəlbəcər|kǝngǝrli|kürdəmir|lənkəran|laçın|lənkəran|lerik|masallı|mingəçevir|naftalan|neftçala|naxçıvan|naxçıvan|oğuz|ordubad|qəbələ|qax|qazax|quba|qubadlı|qobustan|qusar|şəki|sabirabad|sədərək|şahbuz|şəki|salyan|şərur|saatlı|şabran|siyəzən|şəmkir|sumqayıt|şamaxı|samux|şirvan|şuşa|tərtər|tovuz|ucar|xankəndi|xaçmaz|xocalı|xızı|xocavənd|yardımlı|yevlax|yevlax|zəngilan|zaqatala|zərdab|unsko\\-sanski\\ kanton|posavski\\ kanton|tuzlanski\\ kanton|zeničko\\-dobojski\\ kanton|bosansko\\-podrinjski\\ kanton|srednjobosanski\\ kanton|hercegovačko\\-neretvanski\\ kanton|zapadnohercegovački\\ kanton|kanton\\ sarajevo|kanton\\ br\\.\\ 10\\ \\(livanjski\\ kanton\\)|federacija\\ bosne\\ i\\ hercegovine|brčko\\ distrikt|republika\\ srpska|christ\\ church|saint\\ andrew|saint\\ george|saint\\ james|saint\\ john|saint\\ joseph|saint\\ lucy|saint\\ michael|saint\\ peter|saint\\ philip|saint\\ thomas|bandarban|barguna|bogra|brahmanbaria|bagerhat|barisal|bhola|comilla|chandpur|chittagong|cox's\\ bazar|chuadanga|dhaka|dinajpur|faridpur|feni|gopalganj|gazipur|gaibandha|habiganj|jamalpur|jessore|jhenaidah|jaipurhat|jhalakati|kishorganj|khulna|kurigram|khagrachari|kushtia|lakshmipur|lalmonirhat|manikganj|mymensingh|munshiganj|madaripur|magura|moulvibazar|meherpur|narayanganj|netrakona|narsingdi|narail|natore|nawabganj|nilphamari|noakhali|naogaon|pabna|pirojpur|patuakhali|panchagarh|rajbari|rajshahi|rangpur|rangamati|sherpur|satkhira|sirajganj|sylhet|sunamganj|shariatpur|tangail|thakurgaon|barisal|chittagong|dhaka|khulna|rajshahi|rangpur|sylhet|bruxelles\\-capitale,\\ région\\ de;brussels\\ hoofdstedelijk\\ gewest|antwerpen|vlaams\\-brabant|vlaams\\ gewest|limburg|oost\\-vlaanderen|west\\-vlaanderen|wallonne,\\ région|brabant\\ wallon|hainaut|liège|luxembourg|namur|boucle\\ du\\ mouhoun|cascades|centre|centre\\-est|centre\\-nord|centre\\-ouest|centre\\-sud|est|hauts\\-bassins|nord|plateau\\-central|sahel|sud\\-ouest|balé|bam|banwa|bazèga|bougouriba|boulgou|boulkiemdé|comoé|ganzourgou|gnagna|gourma|houet|ioba|kadiogo|kénédougou|komondjari|kompienga|koulpélogo|kossi|kouritenga|kourwéogo|léraba|loroum|mouhoun|namentenga|naouri|nayala|noumbiel|oubritenga|oudalan|passoré|poni|séno|sissili|sanmatenga|sanguié|soum|sourou|tapoa|tui|yagha|yatenga|ziro|zondoma|zoundwéogo|blagoevgrad|burgas|varna|veliko\\ tarnovo|vidin|vratsa|gabrovo|dobrich|kardzhali|kyustendil|lovech|montana|pazardzhik|pernik|pleven|plovdiv|razgrad|ruse|silistra|sliven|smolyan|sofia\\-grad|sofia|stara\\ zagora|targovishte|haskovo|shumen|yambol|al\\ manāmah\\ \\(al\\ ‘āşimah\\)|al\\ janūbīyah|al\\ muḩarraq|al\\ wusţá|ash\\ shamālīyah|bubanza|bujumbura\\ rural|bujumbura\\ mairie|bururi|cankuzo|cibitoke|gitega|kirundo|karuzi|kayanza|makamba|muramvya|mwaro|ngozi|rutana|ruyigi|atakora|alibori|atlantique|borgou|collines|donga|kouffo|littoral|mono|ouémé|plateau|zou|belait|brunei\\-muara|temburong|tutong|el\\ beni|cochabamba|chuquisaca|la\\ paz|pando|oruro|potosí|santa\\ cruz|tarija|bonaire|saba|sint\\ eustatius|acre|alagoas|amazonas|amapá|bahia|ceará|distrito\\ federal|espírito\\ santo|fernando\\ de\\ noronha|goiás|maranhão|minas\\ gerais|mato\\ grosso\\ do\\ sul|mato\\ grosso|pará|paraíba|pernambuco|piauí|paraná|rio\\ de\\ janeiro|rio\\ grande\\ do\\ norte|rondônia|roraima|rio\\ grande\\ do\\ sul|santa\\ catarina|sergipe|são\\ paulo|tocantins|acklins|bimini|black\\ point|berry\\ islands|central\\ eleuthera|cat\\ island|crooked\\ island\\ and\\ long\\ cay|central\\ abaco|central\\ andros|east\\ grand\\ bahama|exuma|city\\ of\\ freeport|grand\\ cay|harbour\\ island|hope\\ town|inagua|long\\ island|mangrove\\ cay|mayaguana|moore's\\ island|north\\ eleuthera|north\\ abaco|north\\ andros|rum\\ cay|ragged\\ island|south\\ andros|south\\ eleuthera|south\\ abaco|san\\ salvador|spanish\\ wells|west\\ grand\\ bahama|paro|chhukha|ha|samtee|thimphu|tsirang|dagana|punakha|wangdue\\ phodrang|sarpang|trongsa|bumthang|zhemgang|trashigang|monggar|pemagatshel|lhuentse|samdrup\\ jongkha|gasa|trashi\\ yangtse|central|ghanzi|kgalagadi|kgatleng|kweneng|north\\-east|north\\-west|south\\-east|southern|bresckaja\\ voblasć|horad\\ minsk|homieĺskaja\\ voblasć|hrodzienskaja\\ voblasć|mahilioŭskaja\\ voblasć|minskaja\\ voblasć|viciebskaja\\ voblasć|belize|cayo|corozal|orange\\ walk|stann\\ creek|toledo|alberta|british\\ columbia|manitoba|new\\ brunswick|newfoundland\\ and\\ labrador|nova\\ scotia|northwest\\ territories|nunavut|ontario|prince\\ edward\\ island|quebec|saskatchewan|yukon\\ territory|bas\\-congo|bandundu|équateur|katanga|kasai\\-oriental|kinshasa|kasai\\-occidental|maniema|nord\\-kivu|orientale|sud\\-kivu|ouham|bamingui\\-bangoran|bangui|basse\\-kotto|haute\\-kotto|haut\\-mbomou|haute\\-sangha\\ /\\ mambéré\\-kadéï|gribingui|kémo\\-gribingui|lobaye|mbomou|ombella\\-m'poko|nana\\-mambéré|ouham\\-pendé|sangha|ouaka|vakaga|bouenza|pool|sangha|plateaux|cuvette\\-ouest|lékoumou|kouilou|likouala|cuvette|niari|brazzaville|aargau|appenzell\\ innerrhoden|appenzell\\ ausserrhoden|bern|basel\\-landschaft|basel\\-stadt|fribourg|genève|glarus|graubünden|jura|luzern|neuchâtel|nidwalden|obwalden|sankt\\ gallen|schaffhausen|solothurn|schwyz|thurgau|ticino|uri|vaud|valais|zug|zürich|lagunes\\ \\(région\\ des\\)|haut\\-sassandra\\ \\(région\\ du\\)|savanes\\ \\(région\\ des\\)|vallée\\ du\\ bandama\\ \\(région\\ de\\ la\\)|moyen\\-comoé\\ \\(région\\ du\\)|18\\ montagnes\\ \\(région\\ des\\)|lacs\\ \\(région\\ des\\)|zanzan\\ \\(région\\ du\\)|bas\\-sassandra\\ \\(région\\ du\\)|denguélé\\ \\(région\\ du\\)|nzi\\-comoé\\ \\(région\\)|marahoué\\ \\(région\\ de\\ la\\)|sud\\-comoé\\ \\(région\\ du\\)|worodouqou\\ \\(région\\ du\\)|sud\\-bandama\\ \\(région\\ du\\)|agnébi\\ \\(région\\ de\\ l'\\)|bafing\\ \\(région\\ du\\)|fromager\\ \\(région\\ du\\)|moyen\\-cavally\\ \\(région\\ du\\)|aisén\\ del\\ general\\ carlos\\ ibáñez\\ del\\ campo|antofagasta|arica\\ y\\ parinacota|araucanía|atacama|bío\\-bío|coquimbo|libertador\\ general\\ bernardo\\ o'higgins|los\\ lagos|los\\ ríos|magallanes\\ y\\ antártica\\ chilena|maule|región\\ metropolitana\\ de\\ santiago|tarapacá|valparaíso|adamaoua|centre|far\\ north|east|littoral|north|north\\-west\\ \\(cameroon\\)|west|south|south\\-west|anhui\\ sheng|beijing\\ shi|chongqing\\ shi|fujian\\ sheng|guangdong\\ sheng|gansu\\ sheng|guangxi\\ zhuangzu\\ zizhiqu|guizhou\\ sheng|henan\\ sheng|hubei\\ sheng|hebei\\ sheng|hainan\\ sheng|hong\\ kong\\ sar\\ \\(see\\ also\\ separate\\ country\\ code\\ entry\\ under\\ hk\\)|heilongjiang\\ sheng|hunan\\ sheng|jilin\\ sheng|jiangsu\\ sheng|jiangxi\\ sheng|liaoning\\ sheng|macao\\ sar\\ \\(see\\ also\\ separate\\ country\\ code\\ entry\\ under\\ mo\\)|nei\\ mongol\\ zizhiqu|ningxia\\ huizi\\ zizhiqu|qinghai\\ sheng|sichuan\\ sheng|shandong\\ sheng|shanghai\\ shi|shaanxi\\ sheng|shanxi\\ sheng|tianjin\\ shi|taiwan\\ sheng\\ \\(see\\ also\\ separate\\ country\\ code\\ entry\\ under\\ tw\\)|xinjiang\\ uygur\\ zizhiqu|xizang\\ zizhiqu|yunnan\\ sheng|zhejiang\\ sheng|amazonas|antioquia|arauca|atlántico|bolívar|boyacá|caldas|caquetá|casanare|cauca|cesar|chocó|córdoba|cundinamarca|distrito\\ capital\\ de\\ bogotá|guainía|guaviare|huila|la\\ guajira|magdalena|meta|nariño|norte\\ de\\ santander|putumayo|quindío|risaralda|santander|san\\ andrés,\\ providencia\\ y\\ santa\\ catalina|sucre|tolima|valle\\ del\\ cauca|vaupés|vichada|alajuela|cartago|guanacaste|heredia|limón|puntarenas|san\\ josé|pinar\\ del\\ rio|la\\ habana|ciudad\\ de\\ la\\ habana|matanzas|villa\\ clara|cienfuegos|sancti\\ spíritus|ciego\\ de\\ ávila|camagüey|las\\ tunas|holguín|granma|santiago\\ de\\ cuba|guantánamo|isla\\ de\\ la\\ juventud|ilhas\\ de\\ barlavento|brava|boa\\ vista|santa\\ catarina|santa\\ catarina\\ de\\ fogo|santa\\ cruz|maio|mosteiros|paul|porto\\ novo|praia|ribeira\\ brava|ribeira\\ grande|ribeira\\ grande\\ de\\ santiago|ilhas\\ de\\ sotavento|são\\ domingos|são\\ filipe|sal|são\\ miguel|são\\ lourenço\\ dos\\ órgãos|são\\ salvador\\ do\\ mundo|são\\ vicente|tarrafal|tarrafal\\ de\\ são\\ nicolau|lefkosía|lemesós|lárnaka|ammóchostos|páfos|kerýneia|praha,\\ hlavní\\ mešto|praha\\ 1|praha\\ 2|praha\\ 3|praha\\ 4|praha\\ 5|praha\\ 6|praha\\ 7|praha\\ 8|praha\\ 9|praha\\ 10|praha\\ 11|praha\\ 12|praha\\ 13|praha\\ 14|praha\\ 15|praha\\ 16|praha\\ 17|praha\\ 18|praha\\ 19|praha\\ 20|praha\\ 21|praha\\ 22|středočeský\\ kraj|benešov|beroun|kladno|kolín|kutná\\ hora|mělník|mladá\\ boleslav|nymburk|praha\\-východ|praha\\-západ|příbram|rakovník|jihočeský\\ kraj|české\\ budějovice|český\\ krumlov|jindřichův\\ hradec|písek|prachatice|strakonice|tábor|plzeňský\\ kraj|domažlice|klatovy|plzeň\\-město|plzeň\\-jih|plzeň\\-sever|rokycany|tachov|karlovarský\\ kraj|cheb|karlovy\\ vary|sokolov|ústecký\\ kraj|děčín|chomutov|litoměřice|louny|most|teplice|ústí\\ nad\\ labem|liberecký\\ kraj|česká\\ lípa|jablonec\\ nad\\ nisou|liberec|semily|královéhradecký\\ kraj|hradec\\ králové|jičín|náchod|rychnov\\ nad\\ kněžnou|trutnov|pardubický\\ kraj|chrudim|pardubice|svitavy|ústí\\ nad\\ orlicí|kraj\\ vysočina|havlíčkův\\ brod|jihlava|pelhřimov|třebíč|žďár\\ nad\\ sázavou|jihomoravský\\ kraj|blansko|brno\\-město|brno\\-venkov|břeclav|hodonín|vyškov|znojmo|olomoucký\\ kraj|jeseník|olomouc|prostějov|přerov|šumperk|zlínský\\ kraj|kroměříž|uherské\\ hradiště|vsetín|zlín|moravskoslezský\\ kraj|bruntál|frýdek\\ místek|karviná|nový\\ jičín|opava|ostrava\\-město|brandenburg|berlin|baden\\-württemberg|bayern|bremen|hessen|hamburg|mecklenburg\\-vorpommern|niedersachsen|nordrhein\\-westfalen|rheinland\\-pfalz|schleswig\\-holstein|saarland|sachsen|sachsen\\-anhalt|thüringen|arta|ali\\ sabieh|dikhil|djibouti|obock|tadjourah|nordjylland|midtjylland|syddanmark|hovedstaden|sjælland|saint\\ peter|saint\\ andrew|saint\\ david|saint\\ george|saint\\ john|saint\\ joseph|saint\\ luke|saint\\ mark|saint\\ patrick|saint\\ paul|distrito\\ nacional\\ \\(santo\\ domingo\\)|azua|bahoruco|barahona|dajabón|duarte|la\\ estrelleta\\ \\[elías\\ piña\\]|el\\ seybo\\ \\[el\\ seibo\\]|espaillat|independencia|la\\ altagracia|la\\ romana|la\\ vega|maría\\ trinidad\\ sánchez|monte\\ cristi|pedernales|peravia|puerto\\ plata|salcedo|samaná|san\\ cristóbal|san\\ juan|san\\ pedro\\ de\\ macorís|sánchez\\ ramírez|santiago|santiago\\ rodríguez|valverde|monseñor\\ nouel|monte\\ plata|hato\\ mayor|adrar|chlef|laghouat|oum\\ el\\ bouaghi|batna|béjaïa|biskra|béchar|blida|bouira|tamanghasset|tébessa|tlemcen|tiaret|tizi\\ ouzou|alger|djelfa|jijel|sétif|saïda|skikda|sidi\\ bel\\ abbès|annaba|guelma|constantine|médéa|mostaganem|msila|mascara|ouargla|oran|el\\ bayadh|illizi|bordj\\ bou\\ arréridj|boumerdès|el\\ tarf|tindouf|tissemsilt|el\\ oued|khenchela|souk\\ ahras|tipaza|mila|aïn\\ defla|naama|aïn\\ témouchent|ghardaïa|relizane|azuay|bolívar|carchi|orellana|esmeraldas|cañar|guayas|chimborazo|imbabura|loja|manabí|napo|el\\ oro|pichincha|los\\ ríos|morona\\-santiago|santo\\ domingo\\ de\\ los\\ tsáchilas|santa\\ elena|tungurahua|sucumbíos|galápagos|cotopaxi|pastaza|zamora\\-chinchipe|harjumaa|hiiumaa|ida\\-virumaa|jõgevamaa|järvamaa|läänemaa|lääne\\-virumaa|põlvamaa|pärnumaa|raplamaa|saaremaa|tartumaa|valgamaa|viljandimaa|võrumaa|al\\ iskandarīyah|aswān|asyūt|al\\ bahr\\ al\\ ahmar|al\\ buhayrah|banī\\ suwayf|al\\ qāhirah|ad\\ daqahlīyah|dumyāt|al\\ fayyūm|al\\ gharbīyah|al\\ jīzah|ḩulwān|al\\ ismā`īlīyah|janūb\\ sīnā'|al\\ qalyūbīyah|kafr\\ ash\\ shaykh|qinā|al\\ minyā|al\\ minūfīyah|matrūh|būr\\ sa`īd|sūhāj|ash\\ sharqīyah|shamal\\ sīnā'|as\\ sādis\\ min\\ uktūbar|as\\ suways|al\\ wādī\\ al\\ jadīd|ansabā|janūbī\\ al\\ baḩrī\\ al\\ aḩmar|al\\ janūbī|qāsh\\-barkah|al\\ awsaţ|shimālī\\ al\\ baḩrī\\ al\\ aḩmar|alicante|albacete|almería|andalucía|aragón|asturias,\\ principado\\ de|ávila|barcelona|badajoz|bizkaia|burgos|a\\ coruña|cádiz|cantabria|cáceres|ceuta|castilla\\ y\\ león|castilla\\-la\\ mancha|canarias|córdoba|ciudad\\ real|castellón|catalunya|cuenca|extremadura|galicia|las\\ palmas|girona|granada|guadalajara|huelva|huesca|illes\\ balears|jaén|lleida|león|la\\ rioja|lugo|madrid|málaga|murcia,\\ región\\ de|madrid,\\ comunidad\\ de|melilla|murcia|navarra\\ /\\ nafarroa|navarra,\\ comunidad\\ foral\\ de\\ /\\ nafarroako\\ foru\\ komunitatea|asturias|ourense|palencia|balears|pontevedra|país\\ vasco\\ /\\ euskal\\ herria|la\\ rioja|cantabria|salamanca|sevilla|segovia|soria|gipuzkoa|tarragona|teruel|santa\\ cruz\\ de\\ tenerife|toledo|valencia\\ /\\ valència|valladolid|valenciana,\\ comunidad\\ /\\ valenciana,\\ comunitat|álava|zaragoza|zamora|ādīs\\ ābeba|āfar|āmara|bīnshangul\\ gumuz|dirē\\ dawa|gambēla\\ hizboch|hārerī\\ hizb|oromīya|yedebub\\ bihēroch\\ bihēreseboch\\ na\\ hizboch|sumalē|tigray|ahvenanmaan\\ maakunta|etelä\\-karjala|etelä\\-pohjanmaa|etelä\\-savo|kainuu|kanta\\-häme|keski\\-pohjanmaa|keski\\-suomi|kymenlaakso|lappi|pirkanmaa|pohjanmaa|pohjois\\-karjala|pohjois\\-pohjanmaa|pohjois\\-savo|päijät\\-häme|satakunta|uusimaa|varsinais\\-suomi|central|eastern|northern|rotuma|western|kosrae|pohnpei|chuuk|yap|ain|aisne|allier|alpes\\-de\\-haute\\-provence|hautes\\-alpes|alpes\\-maritimes|ardèche|ardennes|ariège|aube|aude|aveyron|bouches\\-du\\-rhône|calvados|cantal|charente|charente\\-maritime|cher|corrèze|côte\\-d'or|côtes\\-d'armor|creuse|dordogne|doubs|drôme|eure|eure\\-et\\-loir|finistère|corse\\-du\\-sud|haute\\-corse|gard|haute\\-garonne|gers|gironde|hérault|ille\\-et\\-vilaine|indre|indre\\-et\\-loire|isère|jura|landes|loir\\-et\\-cher|loire|haute\\-loire|loire\\-atlantique|loiret|lot|lot\\-et\\-garonne|lozère|maine\\-et\\-loire|manche|marne|haute\\-marne|mayenne|meurthe\\-et\\-moselle|meuse|morbihan|moselle|nièvre|nord|oise|orne|pas\\-de\\-calais|puy\\-de\\-dôme|pyrénées\\-atlantiques|hautes\\-pyrénées|pyrénées\\-orientales|bas\\-rhin|haut\\-rhin|rhône|haute\\-saône|saône\\-et\\-loire|sarthe|savoie|haute\\-savoie|paris|seine\\-maritime|seine\\-et\\-marne|yvelines|deux\\-sèvres|somme|tarn|tarn\\-et\\-garonne|var|vaucluse|vendée|vienne|haute\\-vienne|vosges|yonne|territoire\\ de\\ belfort|essonne|hauts\\-de\\-seine|seine\\-saint\\-denis|val\\-de\\-marne|val\\-d'oise|auvergne\\-rhône\\-alpes|bourgogne\\-franche\\-comté|saint\\-barthélemy|bretagne|corse|clipperton|centre\\-val\\ de\\ loire|grand\\-est|guyane\\ \\(française\\)|guadeloupe|guadeloupe|hauts\\-de\\-france|île\\-de\\-france|la\\ réunion|mayotte|saint\\-martin|martinique|nouvelle\\-aquitaine|nouvelle\\-calédonie|normandie|occitanie|provence\\-alpes\\-côte\\-d’azur|pays\\-de\\-la\\-loire|polynésie\\ française|saint\\-pierre\\-et\\-miquelon|la\\ réunion|terres\\ australes\\ françaises|wallis\\-et\\-futuna|mayotte|estuaire|haut\\-ogooué|moyen\\-ogooué|ngounié|nyanga|ogooué\\-ivindo|ogooué\\-lolo|ogooué\\-maritime|woleu\\-ntem|armagh,\\ banbridge\\ and\\ craigavon|aberdeenshire|aberdeen\\ city|argyll\\ and\\ bute|isle\\ of\\ anglesey;\\ sir\\ ynys\\ môn|ards\\ and\\ north\\ down|antrim\\ and\\ newtownabbey|angus|bath\\ and\\ north\\ east\\ somerset|blackburn\\ with\\ darwen|bedford|barking\\ and\\ dagenham|brent|bexley|belfast|bridgend;\\ pen\\-y\\-bont\\ ar\\ ogwr|blaenau\\ gwent|birmingham|buckinghamshire|bournemouth|barnet|brighton\\ and\\ hove|barnsley|bolton|blackpool|bracknell\\ forest|bradford|bromley|bristol,\\ city\\ of|bury|cambridgeshire|caerphilly;\\ caerffili|central\\ bedfordshire|causeway\\ coast\\ and\\ glens|ceredigion;\\ sir\\ ceredigion|cheshire\\ east|cheshire\\ west\\ and\\ chester|calderdale|clackmannanshire|cumbria|camden|carmarthenshire;\\ sir\\ gaerfyrddin|cornwall|coventry|cardiff;\\ caerdydd|croydon|conwy|darlington|derbyshire|denbighshire;\\ sir\\ ddinbych|derby|devon|dumfries\\ and\\ galloway|doncaster|dundee\\ city|dorset|derry\\ and\\ strabane|dudley|durham\\ county|ealing|england\\ and\\ wales|east\\ ayrshire|edinburgh,\\ city\\ of|east\\ dunbartonshire|east\\ lothian|eilean\\ siar|enfield|england|east\\ renfrewshire|east\\ riding\\ of\\ yorkshire|essex|east\\ sussex|falkirk|fife|flintshire;\\ sir\\ y\\ fflint|fermanagh\\ and\\ omagh|gateshead|great\\ britain|glasgow\\ city|gloucestershire|greenwich|gwynedd|halton|hampshire|havering|hackney|herefordshire|hillingdon|highland|hammersmith\\ and\\ fulham|hounslow|hartlepool|hertfordshire|harrow|haringey|isles\\ of\\ scilly|isle\\ of\\ wight|islington|inverclyde|kensington\\ and\\ chelsea|kent|kingston\\ upon\\ hull|kirklees|kingston\\ upon\\ thames|knowsley|lancashire|lisburn\\ and\\ castlereagh|lambeth|leicester|leeds|leicestershire|lewisham|lincolnshire|liverpool|london,\\ city\\ of|luton|manchester|middlesbrough|medway|mid\\ and\\ east\\ antrim|milton\\ keynes|midlothian|monmouthshire;\\ sir\\ fynwy|merton|moray|merthyr\\ tydfil;\\ merthyr\\ tudful|mid\\ ulster|north\\ ayrshire|northumberland|north\\ east\\ lincolnshire|newcastle\\ upon\\ tyne|norfolk|nottingham|northern\\ ireland|north\\ lanarkshire|north\\ lincolnshire|newry,\\ mourne\\ and\\ down|north\\ somerset|northamptonshire|neath\\ port\\ talbot;\\ castell\\-nedd\\ port\\ talbot|nottinghamshire|north\\ tyneside|newham|newport;\\ casnewydd|north\\ yorkshire|oldham|orkney\\ islands|oxfordshire|pembrokeshire;\\ sir\\ benfro|perth\\ and\\ kinross|plymouth|poole|portsmouth|powys|peterborough|redcar\\ and\\ cleveland|rochdale|rhondda,\\ cynon,\\ taff;\\ rhondda,\\ cynon,\\ taf|redbridge|reading|renfrewshire|richmond\\ upon\\ thames|rotherham|rutland|sandwell|south\\ ayrshire|scottish\\ borders,\\ the|scotland|suffolk|sefton|south\\ gloucestershire|sheffield|st\\.\\ helens|shropshire|stockport|salford|slough|south\\ lanarkshire|sunderland|solihull|somerset|southend\\-on\\-sea|surrey|stoke\\-on\\-trent|stirling|southampton|sutton|staffordshire|stockton\\-on\\-tees|south\\ tyneside|swansea;\\ abertawe|swindon|southwark|tameside|telford\\ and\\ wrekin|thurrock|torbay|torfaen;\\ tor\\-faen|trafford|tower\\ hamlets|united\\ kingdom|vale\\ of\\ glamorgan,\\ the;\\ bro\\ morgannwg|warwickshire|west\\ berkshire|west\\ dunbartonshire|waltham\\ forest|wigan|wiltshire|wakefield|walsall|west\\ lothian|wales;\\ cymru|wolverhampton|wandsworth|windsor\\ and\\ maidenhead|wokingham|worcestershire|wirral|warrington|wrexham;\\ wrecsam|westminster|west\\ sussex|york|shetland\\ islands|saint\\ andrew|saint\\ david|saint\\ george|saint\\ john|saint\\ mark|saint\\ patrick|southern\\ grenadine\\ islands|abkhazia|ajaria|guria|imeret’i|kakhet’i|k’vemo\\ k’art’li|mts’khet’a\\-mt’ianet’i|racha\\-lech’khumi\\-k’vemo\\ svanet’i|samts’khe\\-javakhet’i|shida\\ k’art’li|samegrelo\\-zemo\\ svanet’i|t’bilisi|greater\\ accra|ashanti|brong\\-ahafo|central|eastern|northern|volta|upper\\ east|upper\\ west|western|kommune\\ kujalleq|qaasuitsup\\ kommunia|qeqqata\\ kommunia|kommuneqarfik\\ sermersooq|banjul|lower\\ river|central\\ river|north\\ bank|upper\\ river|western|boké|beyla|boffa|boké|conakry|coyah|kindia|dabola|dinguiraye|dalaba|dubréka|faranah|faranah|forécariah|fria|gaoual|guékédou|kankan|kankan|koubia|kindia|kérouané|koundara|kouroussa|kissidougou|labé|labé|lélouma|lola|mamou|macenta|mandiana|mali|mamou|nzérékoré|nzérékoré|pita|siguiri|télimélé|tougué|yomou|annobón|bioko\\ norte|bioko\\ sur|región\\ continental|centro\\ sur|región\\ insular|kié\\-ntem|litoral|wele\\-nzas|aitolia\\ kai\\ akarnania|voiotia|evvoias|evrytania|fthiotida|fokida|argolida|arkadia|achaïa|ileia|korinthia|lakonia|messinia|zakynthos|kerkyra|kefallonia|lefkada|arta|thesprotia|ioannina|preveza|karditsa|larisa|magnisia|trikala|grevena|drama|imathia|thessaloniki|kavala|kastoria|kilkis|kozani|pella|pieria|serres|florina|chalkidiki|agio\\ oros|evros|xanthi|rodopi|dodekanisos|kyklades|lesvos|samos|chios|irakleio|lasithi|rethymno|chania|anatoliki\\ makedonia\\ kai\\ thraki|attiki|kentriki\\ makedonia|dytiki\\ makedonia|ipeiros|thessalia|ionia\\ nisia|dytiki\\ ellada|sterea\\ ellada|attiki|peloponnisos|voreio\\ aigaio|notio\\ aigaio|kriti|alta\\ verapaz|baja\\ verapaz|chimaltenango|chiquimula|escuintla|guatemala|huehuetenango|izabal|jalapa|jutiapa|petén|el\\ progreso|quiché|quetzaltenango|retalhuleu|sacatepéquez|san\\ marcos|sololá|santa\\ rosa|suchitepéquez|totonicapán|zacapa|bafatá|bolama|biombo|bissau|cacheu|gabú|leste|norte|oio|quinara|sul|tombali|barima\\-waini|cuyuni\\-mazaruni|demerara\\-mahaica|east\\ berbice\\-corentyne|essequibo\\ islands\\-west\\ demerara|mahaica\\-berbice|pomeroon\\-supenaam|potaro\\-siparuni|upper\\ demerara\\-berbice|upper\\ takutu\\-upper\\ essequibo|atlántida|choluteca|colón|comayagua|copán|cortés|el\\ paraíso|francisco\\ morazán|gracias\\ a\\ dios|islas\\ de\\ la\\ bahía|intibucá|lempira|la\\ paz|ocotepeque|olancho|santa\\ bárbara|valle|yoro|zagrebačka\\ županija|krapinsko\\-zagorska\\ županija|sisačko\\-moslavačka\\ županija|karlovačka\\ županija|varaždinska\\ županija|koprivničko\\-križevačka\\ županija|bjelovarsko\\-bilogorska\\ županija|primorsko\\-goranska\\ županija|ličko\\-senjska\\ županija|virovitičko\\-podravska\\ županija|požeško\\-slavonska\\ županija|brodsko\\-posavska\\ županija|zadarska\\ županija|osječko\\-baranjska\\ županija|šibensko\\-kninska\\ županija|vukovarsko\\-srijemska\\ županija|splitsko\\-dalmatinska\\ županija|istarska\\ županija|dubrovačko\\-neretvanska\\ županija|međimurska\\ županija|grad\\ zagreb|artibonite|centre|grande\\-anse|nord|nord\\-est|nord\\-ouest|ouest|sud|sud\\-est|baranya|békéscsaba|békés|bács\\-kiskun|budapest|borsod\\-abaúj\\-zemplén|csongrád|debrecen|dunaújváros|eger|érd|fejér|győr\\-moson\\-sopron|győr|hajdú\\-bihar|heves|hódmezővásárhely|jász\\-nagykun\\-szolnok|komárom\\-esztergom|kecskemét|kaposvár|miskolc|nagykanizsa|nógrád|nyíregyháza|pest|pécs|szeged|székesfehérvár|szombathely|szolnok|sopron|somogy|szekszárd|salgótarján|szabolcs\\-szatmár\\-bereg|tatabánya|tolna|vas|veszprém\\ \\(county\\)|veszprém|zala|zalaegerszeg|aceh|bali|bangka\\ belitung|bengkulu|banten|gorontalo|papua|jambi|jawa\\ barat|jawa\\ timur|jakarta\\ raya|jawa\\ tengah|jawa|kalimantan|kalimantan\\ barat|kalimantan\\ timur|kepulauan\\ riau|kalimantan\\ selatan|kalimantan\\ tengah|lampung|maluku|maluku|maluku\\ utara|nusa\\ tenggara\\ barat|nusa\\ tenggara\\ timur|nusa\\ tenggara|papua|papua\\ barat|riau|sulawesi\\ utara|sumatra\\ barat|sulawesi\\ tenggara|sulawesi|sumatera|sulawesi\\ selatan|sulawesi\\ barat|sumatra\\ selatan|sulawesi\\ tengah|sumatera\\ utara|yogyakarta|connacht|clare|cavan|cork|carlow|dublin|donegal|galway|kildare|kilkenny|kerry|leinster|longford|louth|limerick|leitrim|laois|munster|meath|monaghan|mayo|offaly|roscommon|sligo|tipperary|ulster|waterford|westmeath|wicklow|wexford|hadarom|hefa|yerushalayim\\ al\\ quds|hamerkaz|tel\\-aviv|hazafon|andaman\\ and\\ nicobar\\ islands|andhra\\ pradesh|arunachal\\ pradesh|assam|bihar|chandigarh|chhattisgarh|daman\\ and\\ diu|delhi|dadra\\ and\\ nagar\\ haveli|goa|gujarat|himachal\\ pradesh|haryana|jharkhand|jammu\\ and\\ kashmir|karnataka|kerala|lakshadweep|maharashtra|meghalaya|manipur|madhya\\ pradesh|mizoram|nagaland|odisha|punjab|puducherry|rajasthan|sikkim|telangana|tamil\\ nadu|tripura|uttar\\ pradesh|uttarakhand|west\\ bengal|al\\ anbar|arbil|al\\ basrah|babil|baghdad|dahuk|diyala|dhi\\ qar|karbala'|maysan|al\\ muthanna|an\\ najef|ninawa|al\\ qadisiyah|salah\\ ad\\ din|as\\ sulaymaniyah|at\\ ta'mim|wasit|āzarbāyjān\\-e\\ sharqī|āzarbāyjān\\-e\\ gharbī|ardabīl|eşfahān|īlām|būshehr|tehrān|chahār\\ mahāll\\ va\\ bakhtīārī|khūzestān|zanjān|semnān|sīstān\\ va\\ balūchestān|fārs|kermān|kordestān|kermānshāh|kohgīlūyeh\\ va\\ būyer\\ ahmad|gīlān|lorestān|māzandarān|markazī|hormozgān|hamadān|yazd|qom|golestān|qazvīn|khorāsān\\-e\\ janūbī|khorāsān\\-e\\ razavī|khorāsān\\-e\\ shemālī|reykjavík|höfuðborgarsvæðið|suðurnes|vesturland|vestfirðir|norðurland\\ vestra|norðurland\\ eystra|austurland|suðurland|piemonte|valle\\ d'aosta|lombardia|trentino\\-alto\\ adige|veneto|friuli\\-venezia\\ giulia|liguria|emilia\\-romagna|toscana|umbria|marche|lazio|abruzzo|molise|campania|puglia|basilicata|calabria|sicilia|sardegna|agrigento|alessandria|ancona|aosta|ascoli\\ piceno|l'aquila|arezzo|asti|avellino|bari|bergamo|biella|belluno|benevento|bologna|brindisi|brescia|barletta\\-andria\\-trani|bolzano|cagliari|campobasso|caserta|chieti|carbonia\\-iglesias|caltanissetta|cuneo|como|cremona|cosenza|catania|catanzaro|enna|forlì\\-cesena|ferrara|foggia|firenze|fermo|frosinone|genova|gorizia|grosseto|imperia|isernia|crotone|lecco|lecce|livorno|lodi|latina|lucca|monza\\ e\\ brianza|macerata|messina|milano|mantova|modena|massa\\-carrara|matera|napoli|novara|nuoro|ogliastra|oristano|olbia\\-tempio|palermo|piacenza|padova|pescara|perugia|pisa|pordenone|prato|parma|pistoia|pesaro\\ e\\ urbino|pavia|potenza|ravenna|reggio\\ calabria|reggio\\ emilia|ragusa|rieti|roma|rimini|rovigo|salerno|siena|sondrio|la\\ spezia|siracusa|sassari|savona|taranto|teramo|trento|torino|trapani|terni|trieste|treviso|udine|varese|verbano\\-cusio\\-ossola|vercelli|venezia|vicenza|verona|medio\\ campidano|viterbo|vibo\\ valentia|kingston|saint\\ andrew|saint\\ thomas|portland|saint\\ mary|saint\\ ann|trelawny|saint\\ james|hanover|westmoreland|saint\\ elizabeth|manchester|clarendon|saint\\ catherine|‘ajlūn|‘ammān\\ \\(al\\ ‘aşimah\\)|al\\ ‘aqabah|aţ\\ ţafīlah|az\\ zarqā'|al\\ balqā'|irbid|jarash|al\\ karak|al\\ mafraq|mādabā|ma‘ān|hokkaido|aomori|iwate|miyagi|akita|yamagata|fukushima|ibaraki|tochigi|gunma|saitama|chiba|tokyo|kanagawa|niigata|toyama|ishikawa|fukui|yamanashi|nagano|gifu|shizuoka|aichi|mie|shiga|kyoto|osaka|hyogo|nara|wakayama|tottori|shimane|okayama|hiroshima|yamaguchi|tokushima|kagawa|ehime|kochi|fukuoka|saga|nagasaki|kumamoto|oita|miyazaki|kagoshima|okinawa|baringo|bomet|bungoma|busia|elgeyo/marakwet|embu|garissa|homa\\ bay|isiolo|kajiado|kakamega|kericho|kiambu|kilifi|kirinyaga|kisii|kisumu|kitui|kwale|laikipia|lamu|machakos|makueni|mandera|marsabit|meru|migori|mombasa|murang'a|nairobi\\ city|nakuru|nandi|narok|nyamira|nyandarua|nyeri|samburu|siaya|taita/taveta|tana\\ river|tharaka\\-nithi|trans\\ nzoia|turkana|uasin\\ gishu|vihiga|wajir|west\\ pokot|batken|chü|bishkek|jalal\\-abad|naryn|osh|talas|ysyk\\-köl|banteay\\ mean\\ chey|krachoh|mondol\\ kiri|phnom\\ penh|preah\\ vihear|prey\\ veaeng|pousaat|rotanak\\ kiri|siem\\ reab|krong\\ preah\\ sihanouk|stueng\\ traeng|battambang|svaay\\ rieng|taakaev|otdar\\ mean\\ chey|krong\\ kaeb|krong\\ pailin|kampong\\ cham|kampong\\ chhnang|kampong\\ speu|kampong\\ thom|kampot|kandal|kach\\ kong|gilbert\\ islands|line\\ islands|phoenix\\ islands|andjouân\\ \\(anjwān\\)|andjazîdja\\ \\(anjazījah\\)|moûhîlî\\ \\(mūhīlī\\)|christ\\ church\\ nichola\\ town|saint\\ anne\\ sandy\\ point|saint\\ george\\ basseterre|saint\\ george\\ gingerland|saint\\ james\\ windward|saint\\ john\\ capisterre|saint\\ john\\ figtree|saint\\ mary\\ cayon|saint\\ paul\\ capisterre|saint\\ paul\\ charlestown|saint\\ peter\\ basseterre|saint\\ thomas\\ lowland|saint\\ thomas\\ middle\\ island|trinity\\ palmetto\\ point|saint\\ kitts|nevis|p’yŏngyang|p’yŏngan\\-namdo|p’yŏngan\\-bukto|chagang\\-do|hwanghae\\-namdo|hwanghae\\-bukto|kangwŏn\\-do|hamgyŏng\\-namdo|hamgyŏng\\-bukto|yanggang\\-do|nasŏn\\ \\(najin\\-sŏnbong\\)|seoul\\ teugbyeolsi|busan\\ gwang'yeogsi|daegu\\ gwang'yeogsi|incheon\\ gwang'yeogsi|gwangju\\ gwang'yeogsi|daejeon\\ gwang'yeogsi|ulsan\\ gwang'yeogsi|gyeonggido|gang'weondo|chungcheongbukdo|chungcheongnamdo|jeonrabukdo|jeonranamdo|gyeongsangbukdo|gyeongsangnamdo|jejudo|al\\ ahmadi|al\\ farwānīyah|hawallī|al\\ jahrrā’|al\\ kuwayt\\ \\(al\\ ‘āşimah\\)|mubārak\\ al\\ kabīr|aqmola\\ oblysy|aqtöbe\\ oblysy|almaty|almaty\\ oblysy|astana|atyraū\\ oblysy|qaraghandy\\ oblysy|qostanay\\ oblysy|qyzylorda\\ oblysy|mangghystaū\\ oblysy|pavlodar\\ oblysy|soltüstik\\ quzaqstan\\ oblysy|shyghys\\ qazaqstan\\ oblysy|ongtüstik\\ qazaqstan\\ oblysy|batys\\ quzaqstan\\ oblysy|zhambyl\\ oblysy|attapu|bokèo|bolikhamxai|champasak|houaphan|khammouan|louang\\ namtha|louangphabang|oudômxai|phôngsali|salavan|savannakhét|vientiane|vientiane|xaignabouli|xékong|xiangkhouang|xaisômboun|aakkâr|liban\\-nord|beyrouth|baalbek\\-hermel|béqaa|liban\\-sud|mont\\-liban|nabatîyé|balzers|eschen|gamprin|mauren|planken|ruggell|schaan|schellenberg|triesen|triesenberg|vaduz|basnāhira\\ paḷāta|kŏḷamba|gampaha|kaḷutara|madhyama\\ paḷāta|mahanuvara|mātale|nuvara\\ ĕliya|dakuṇu\\ paḷāta|gālla|mātara|hambantŏṭa|uturu\\ paḷāta|yāpanaya|kilinŏchchi|mannārama|vavuniyāva|mulativ|næ̆gĕnahira\\ paḷāta|maḍakalapuva|ampāara|trikuṇāmalaya|vayamba\\ paḷāta|kuruṇægala|puttalama|uturumæ̆da\\ paḷāta|anurādhapura|pŏḷŏnnaruva|ūva\\ paḷāta|badulla|mŏṇarāgala|sabaragamuva\\ paḷāta|ratnapura|kægalla|bong|bomi|grand\\ cape\\ mount|grand\\ bassa|grand\\ gedeh|grand\\ kru|lofa|margibi|montserrado|maryland|nimba|rivercess|sinoe|maseru|butha\\-buthe|leribe|berea|mafeteng|mohale's\\ hoek|quthing|qacha's\\ nek|mokhotlong|thaba\\-tseka|alytaus\\ apskritis|klaipėdos\\ apskritis|kauno\\ apskritis|marijampolės\\ apskritis|panevėžio\\ apskritis|šiaulių\\ apskritis|tauragés\\ apskritis|telšių\\ apskritis|utenos\\ apskritis|vilniaus\\ apskritis|diekirch|grevenmacher|luxembourg|aglonas\\ novads|aizkraukles\\ novads|aizputes\\ novads|aknīstes\\ novads|alojas\\ novads|alsungas\\ novads|alūksnes\\ novads|amatas\\ novads|apes\\ novads|auces\\ novads|ādažu\\ novads|babītes\\ novads|baldones\\ novads|baltinavas\\ novads|balvu\\ novads|bauskas\\ novads|beverīnas\\ novads|brocēnu\\ novads|burtnieku\\ novads|carnikavas\\ novads|cesvaines\\ novads|cēsu\\ novads|ciblas\\ novads|dagdas\\ novads|daugavpils\\ novads|dobeles\\ novads|dundagas\\ novads|durbes\\ novads|engures\\ novads|ērgļu\\ novads|garkalnes\\ novads|grobiņas\\ novads|gulbenes\\ novads|iecavas\\ novads|ikšķiles\\ novads|ilūkstes\\ novads|inčukalna\\ novads|jaunjelgavas\\ novads|jaunpiebalgas\\ novads|jaunpils\\ novads|jelgavas\\ novads|jēkabpils\\ novads|kandavas\\ novads|kārsavas\\ novads|kocēnu\\ novads|kokneses\\ novads|krāslavas\\ novads|krimuldas\\ novads|krustpils\\ novads|kuldīgas\\ novads|ķeguma\\ novads|ķekavas\\ novads|lielvārdes\\ novads|limbažu\\ novads|līgatnes\\ novads|līvānu\\ novads|lubānas\\ novads|ludzas\\ novads|madonas\\ novads|mazsalacas\\ novads|mālpils\\ novads|mārupes\\ novads|mērsraga\\ novads|naukšēnu\\ novads|neretas\\ novads|nīcas\\ novads|ogres\\ novads|olaines\\ novads|ozolnieku\\ novads|pārgaujas\\ novads|pāvilostas\\ novads|pļaviņu\\ novads|preiļu\\ novads|priekules\\ novads|priekuļu\\ novads|raunas\\ novads|rēzeknes\\ novads|riebiņu\\ novads|rojas\\ novads|ropažu\\ novads|rucavas\\ novads|rugāju\\ novads|rundāles\\ novads|rūjienas\\ novads|salas\\ novads|salacgrīvas\\ novads|salaspils\\ novads|saldus\\ novads|saulkrastu\\ novads|sējas\\ novads|siguldas\\ novads|skrīveru\\ novads|skrundas\\ novads|smiltenes\\ novads|stopiņu\\ novads|strenču\\ novads|talsu\\ novads|tērvetes\\ novads|tukuma\\ novads|vaiņodes\\ novads|valkas\\ novads|varakļānu\\ novads|vārkavas\\ novads|vecpiebalgas\\ novads|vecumnieku\\ novads|ventspils\\ novads|viesītes\\ novads|viļakas\\ novads|viļānu\\ novads|zilupes\\ novads|daugavpils|jelgava|jēkabpils|jūrmala|liepāja|rēzekne|rīga|ventspils|valmiera|banghāzī|al\\ buţnān|darnah|ghāt|al\\ jabal\\ al\\ akhḑar|jaghbūb|al\\ jabal\\ al\\ gharbī|al\\ jifārah|al\\ jufrah|al\\ kufrah|al\\ marqab|mişrātah|al\\ marj|murzuq|nālūt|an\\ nuqaţ\\ al\\ khams|sabhā|surt|ţarābulus|al\\ wāḩāt|wādī\\ al\\ ḩayāt|wādī\\ ash\\ shāţiʾ|az\\ zāwiyah|tanger\\-tétouan\\-al\\ hoceïma|l'oriental|fès\\-meknès|rabat\\-salé\\-kénitra|béni\\ mellal\\-khénifra|casablanca\\-settat|marrakech\\-safi|drâa\\-tafilalet|souss\\-massa|guelmim\\-oued\\ noun\\ \\(eh\\-partial\\)|laâyoune\\-sakia\\ el\\ hamra\\ \\(eh\\-partial\\)|dakhla\\-oued\\ ed\\-dahab\\ \\(eh\\)|agadir\\-ida\\-ou\\-tanane|aousserd\\ \\(eh\\)|assa\\-zag\\ \\(eh\\-partial\\)|azilal|béni\\ mellal|berkane|benslimane|boujdour\\ \\(eh\\)|boulemane|berrechid|casablanca|chefchaouen|chichaoua|chtouka\\-ait\\ baha|driouch|errachidia|essaouira|es\\-semara\\ \\(eh\\-partial\\)|fahs\\-anjra|fès|figuig|fquih\\ ben\\ salah|guelmim|guercif|el\\ hajeb|al\\ haouz|al\\ hoceïma|ifrane|inezgane\\-ait\\ melloul|el\\ jadida|jerada|kénitra|el\\ kelâa\\ des\\ sraghna|khemisset|khenifra|khouribga|laâyoune\\ \\(eh\\)|larache|marrakech|m’diq\\-fnideq|médiouna|meknès|midelt|mohammadia|moulay\\ yacoub|nador|nouaceur|ouarzazate|oued\\ ed\\-dahab\\ \\(eh\\)|oujda\\-angad|ouezzane|rabat|rehamna|safi|salé|sefrou|settat|sidi\\ bennour|sidi\\ ifni|sidi\\ kacem|sidi\\ slimane|skhirate\\-témara|tarfaya\\ \\(eh\\-partial\\)|taourirt|taounate|taroudant|tata|taza|tétouan|tinghir|tiznit|tanger\\-assilah|tan\\-tan\\ \\(eh\\-partial\\)|youssoufia|zagora|la\\ colle|la\\ condamine|fontvieille|la\\ gare|jardin\\ exotique|larvotto|malbousquet|monte\\-carlo|moneghetti|monaco\\-ville|moulins|port\\-hercule|sainte\\-dévote|la\\ source|spélugues|saint\\-roman|vallon\\ de\\ la\\ rousse|anenii\\ noi|bălți|tighina|briceni|basarabeasca|cahul|călărași|cimișlia|criuleni|căușeni|cantemir|chișinău|dondușeni|drochia|dubăsari|edineț|fălești|florești|găgăuzia,\\ unitatea\\ teritorială\\ autonomă|glodeni|hîncești|ialoveni|leova|nisporeni|ocnița|orhei|rezina|rîșcani|șoldănești|sîngerei|stînga\\ nistrului,\\ unitatea\\ teritorială\\ din|soroca|strășeni|ștefan\\ vodă|taraclia|telenești|ungheni|andrijevica|bar|berane|bijelo\\ polje|budva|cetinje|danilovgrad|herceg\\-novi|kolašin|kotor|mojkovac|nikšić|plav|pljevlja|plužine|podgorica|rožaje|šavnik|tivat|ulcinj|žabljak|toamasina|antsiranana|fianarantsoa|mahajanga|antananarivo|toliara|ailuk|ailinglaplap|arno|aur|ebon|enewetak|jabat|jaluit|kili|kwajalein|ralik\\ chain|lae|lib|likiep|majuro|maloelap|mejit|mili|namdrik|namu|rongelap|ratak\\ chain|ujae|utirik|wotje|wotho|aerodrom|aračinovo|berovo|bitola|bogdanci|bogovinje|bosilovo|brvenica|butel|valandovo|vasilevo|vevčani|veles|vinica|vraneštica|vrapčište|gazi\\ baba|gevgelija|gostivar|gradsko|debar|debarca|delčevo|demir\\ kapija|demir\\ hisar|dojran|dolneni|drugovo|gjorče\\ petrov|želino|zajas|zelenikovo|zrnovci|ilinden|jegunovce|kavadarci|karbinci|karpoš|kisela\\ voda|kičevo|konče|kočani|kratovo|kriva\\ palanka|krivogaštani|kruševo|kumanovo|lipkovo|lozovo|mavrovo\\-i\\-rostuša|makedonska\\ kamenica|makedonski\\ brod|mogila|negotino|novaci|novo\\ selo|oslomej|ohrid|petrovec|pehčevo|plasnica|prilep|probištip|radoviš|rankovce|resen|rosoman|saraj|sveti\\ nikole|sopište|staro\\ nagoričane|struga|strumica|studeničani|tearce|tetovo|centar|centar\\ župa|čair|čaška|češinovo\\-obleševo|čučer\\ sandevo|štip|šuto\\ orizari|kayes|koulikoro|sikasso|ségou|mopti|tombouctou|gao|kidal|bamako|sagaing|bago|magway|mandalay|tanintharyi|yangon|ayeyarwady|kachin|kayah|kayin|chin|mon|rakhine|shan|orhon|darhan\\ uul|hentiy|hövsgöl|hovd|uvs|töv|selenge|sühbaatar|ömnögovi|övörhangay|dzavhan|dundgovi|dornod|dornogovi|govi\\-sumber|govi\\-altay|bulgan|bayanhongor|bayan\\-ölgiy|arhangay|ulanbaatar|hodh\\ ech\\ chargui|hodh\\ el\\ charbi|assaba|gorgol|brakna|trarza|adrar|dakhlet\\ nouadhibou|tagant|guidimaka|tiris\\ zemmour|inchiri|nouakchott|attard|balzan|birgu|birkirkara|birżebbuġa|bormla|dingli|fgura|floriana|fontana|gudja|gżira|għajnsielem|għarb|għargħur|għasri|għaxaq|ħamrun|iklin|isla|kalkara|kerċem|kirkop|lija|luqa|marsa|marsaskala|marsaxlokk|mdina|mellieħa|mġarr|mosta|mqabba|msida|mtarfa|munxar|nadur|naxxar|paola|pembroke|pietà|qala|qormi|qrendi|rabat\\ għawdex|rabat\\ malta|safi|san\\ ġiljan|san\\ ġwann|san\\ lawrenz|san\\ pawl\\ il\\-baħar|sannat|santa\\ luċija|santa\\ venera|siġġiewi|sliema|swieqi|ta’\\ xbiex|tarxien|valletta|xagħra|xewkija|xgħajra|żabbar|żebbuġ\\ għawdex|żebbuġ\\ malta|żejtun|żurrieq|agalega\\ islands|black\\ river|beau\\ bassin\\-rose\\ hill|cargados\\ carajos\\ shoals|curepipe|flacq|grand\\ port|moka|pamplemousses|port\\ louis|port\\ louis|plaines\\ wilhems|quatre\\ bornes|rodrigues\\ island|rivière\\ du\\ rempart|savanne|vacoas\\-phoenix|alifu\\ dhaalu|seenu|alifu\\ alifu|lhaviyani|vaavu|laamu|haa\\ alifu|thaa|meemu|raa|faafu|dhaalu|baa|haa\\ dhaalu|shaviyani|noonu|kaafu|gaafu\\ alifu|gaafu\\ dhaalu|gnaviyani|central|male|north\\ central|north|south\\ central|south|upper\\ north|upper\\ south|balaka|blantyre|central\\ region|chikwawa|chiradzulu|chitipa|dedza|dowa|karonga|kasungu|lilongwe|likoma|mchinji|mangochi|machinga|mulanje|mwanza|mzimba|northern\\ region|nkhata\\ bay|neno|ntchisi|nkhotakota|nsanje|ntcheu|phalombe|rumphi|southern\\ region|salima|thyolo|zomba|aguascalientes|baja\\ california|baja\\ california\\ sur|campeche|chihuahua|chiapas|ciudad\\ de\\ méxico|coahuila\\ de\\ zaragoza|colima|durango|guerrero|guanajuato|hidalgo|jalisco|méxico|michoacán\\ de\\ ocampo|morelos|nayarit|nuevo\\ león|oaxaca|puebla|querétaro|quintana\\ roo|sinaloa|san\\ luis\\ potosí|sonora|tabasco|tamaulipas|tlaxcala|veracruz\\ de\\ ignacio\\ de\\ la\\ llave|yucatán|zacatecas|johor|kedah|kelantan|melaka|negeri\\ sembilan|pahang|pulau\\ pinang|perak|perlis|selangor|terengganu|sabah|sarawak|wilayah\\ persekutuan\\ kuala\\ lumpur|wilayah\\ persekutuan\\ labuan|wilayah\\ persekutuan\\ putrajaya|niassa|manica|gaza|inhambane|maputo|maputo\\ \\(city\\)|numpula|cabo\\ delgado|zambezia|sofala|tete|caprivi|erongo|hardap|karas|khomas|kunene|otjozondjupa|omaheke|okavango|oshana|omusati|oshikoto|ohangwena|agadez|diffa|dosso|maradi|tahoua|tillabéri|zinder|niamey|abia|adamawa|akwa\\ ibom|anambra|bauchi|benue|borno|bayelsa|cross\\ river|delta|ebonyi|edo|ekiti|enugu|abuja\\ capital\\ territory|gombe|imo|jigawa|kaduna|kebbi|kano|kogi|katsina|kwara|lagos|nassarawa|niger|ogun|ondo|osun|oyo|plateau|rivers|sokoto|taraba|yobe|zamfara|atlántico\\ norte|atlántico\\ sur|boaco|carazo|chinandega|chontales|estelí|granada|jinotega|león|madriz|managua|masaya|matagalpa|nueva\\ segovia|rivas|río\\ san\\ juan|aruba|bonaire|saba|sint\\ eustatius|curaçao|drenthe|flevoland|friesland|gelderland|groningen|limburg|noord\\-brabant|noord\\-holland|overijssel|sint\\ maarten|utrecht|zeeland|zuid\\-holland|østfold|akershus|oslo|hedmark|oppland|buskerud|vestfold|telemark|aust\\-agder|vest\\-agder|rogaland|hordaland|sogn\\ og\\ fjordane|møre\\ og\\ romsdal|nordland|troms|finnmark|svalbard\\ \\(arctic\\ region\\)|jan\\ mayen\\ \\(arctic\\ region\\)|trøndelag|madhyamanchal|madhya\\ pashchimanchal|pashchimanchal|purwanchal|sudur\\ pashchimanchal|bagmati|bheri|dhawalagiri|gandaki|janakpur|karnali|kosi|lumbini|mahakali|mechi|narayani|rapti|sagarmatha|seti|aiwo|anabar|anetan|anibare|baiti|boe|buada|denigomodu|ewa|ijuw|meneng|nibok|uaboe|yaren|auckland|bay\\ of\\ plenty|canterbury|chatham\\ islands\\ territory|gisborne\\ district|hawke's\\ bay|marlborough\\ district|manawatu\\-wanganui|north\\ island|nelson\\ city|northland|otago|south\\ island|southland|tasman\\ district|taranaki|wellington|waikato|west\\ coast|al\\ bāţinah|al\\ buraymī|ad\\ dākhilīya|masqaţ|musandam|ash\\ sharqīyah|al\\ wusţá|az̧\\ z̧āhirah|z̧ufār|bocas\\ del\\ toro|coclé|colón|chiriquí|darién|herrera|los\\ santos|panamá|veraguas|emberá|kuna\\ yala|ngöbe\\-buglé|amazonas|ancash|apurímac|arequipa|ayacucho|cajamarca|el\\ callao|cusco\\ \\[cuzco\\]|huánuco|huancavelica|ica|junín|la\\ libertad|lambayeque|lima|municipalidad\\ metropolitana\\ de\\ lima|loreto|madre\\ de\\ dios|moquegua|pasco|piura|puno|san\\ martín|tacna|tumbes|ucayali|chimbu|central|east\\ new\\ britain|eastern\\ highlands|enga|east\\ sepik|gulf|milne\\ bay|morobe|madang|manus|national\\ capital\\ district\\ \\(port\\ moresby\\)|new\\ ireland|northern|bougainville|sandaun|southern\\ highlands|west\\ new\\ britain|western\\ highlands|western|national\\ capital\\ region|ilocos\\ \\(region\\ i\\)|cagayan\\ valley\\ \\(region\\ ii\\)|central\\ luzon\\ \\(region\\ iii\\)|bicol\\ \\(region\\ v\\)|western\\ visayas\\ \\(region\\ vi\\)|central\\ visayas\\ \\(region\\ vii\\)|eastern\\ visayas\\ \\(region\\ viii\\)|zamboanga\\ peninsula\\ \\(region\\ ix\\)|northern\\ mindanao\\ \\(region\\ x\\)|davao\\ \\(region\\ xi\\)|soccsksargen\\ \\(region\\ xii\\)|caraga\\ \\(region\\ xiii\\)|autonomous\\ region\\ in\\ muslim\\ mindanao\\ \\(armm\\)|cordillera\\ administrative\\ region\\ \\(car\\)|calabarzon\\ \\(region\\ iv\\-a\\)|mimaropa\\ \\(region\\ iv\\-b\\)|abra|agusan\\ del\\ norte|agusan\\ del\\ sur|aklan|albay|antique|apayao|aurora|batasn|basilan|benguet|biliran|bohol|batangas|batanes|bukidnon|bulacan|cagayan|camiguin|camarines\\ norte|capiz|camarines\\ sur|catanduanes|cavite|cebu|compostela\\ valley|davao\\ oriental|davao\\ del\\ sur|davao\\ del\\ norte|dinagat\\ islands|eastern\\ samar|guimaras|ifugao|iloilo|ilocos\\ norte|ilocos\\ sur|isabela|kalinga\\-apayso|laguna|lanao\\ del\\ norte|lanao\\ del\\ sur|leyte|la\\ union|marinduque|maguindanao|masbate|mindoro\\ occidental|mindoro\\ oriental|mountain\\ province|misamis\\ occidental|misamis\\ oriental|north\\ cotabato|negros\\ occidental|negros\\ oriental|northern\\ samar|nueva\\ ecija|nueva\\ vizcaya|pampanga|pangasinan|palawan|quezon|quirino|rizal|romblon|sarangani|south\\ cotabato|siquijor|southern\\ leyte|sulu|sorsogon|sultan\\ kudarat|surigao\\ del\\ norte|surigao\\ del\\ sur|tarlac|tawi\\-tawi|western\\ samar|zamboanga\\ del\\ norte|zamboanga\\ del\\ sur|zambales|zamboanga\\ sibugay|balochistan|gilgit\\-baltistan|islamabad|azad\\ kashmir|khyber\\ pakhtunkhwa|punjab|sindh|federally\\ administered\\ tribal\\ areas|dolnośląskie|kujawsko\\-pomorskie|lubuskie|łódzkie|lubelskie|małopolskie|mazowieckie|opolskie|podlaskie|podkarpackie|pomorskie|świętokrzyskie|śląskie|warmińsko\\-mazurskie|wielkopolskie|zachodniopomorskie|bethlehem|deir\\ el\\ balah|gaza|hebron|jerusalem|jenin|jericho\\ \\-\\ al\\ aghwar|khan\\ yunis|nablus|north\\ gaza|qalqilya|ramallah|rafah|salfit|tubas|tulkarm|aveiro|beja|braga|bragança|castelo\\ branco|coimbra|évora|faro|guarda|leiria|lisboa|portalegre|porto|santarém|setúbal|viana\\ do\\ castelo|vila\\ real|viseu|região\\ autónoma\\ dos\\ açores|região\\ autónoma\\ da\\ madeira|aimeliik|airai|angaur|hatobohei|kayangel|koror|melekeok|ngaraard|ngarchelong|ngardmau|ngatpang|ngchesar|ngeremlengui|ngiwal|peleliu|sonsorol|concepción|alto\\ paraná|central|ñeembucú|amambay|canindeyú|presidente\\ hayes|alto\\ paraguay|boquerón|san\\ pedro|cordillera|guairá|caaguazú|caazapá|itapúa|misiones|paraguarí|asunción|ad\\ dawhah|al\\ khawr\\ wa\\ adh\\ dhakhīrah|ash\\ shamal|ar\\ rayyan|umm\\ salal|al\\ wakrah|az̧\\ z̧a‘āyin|alba|argeș|arad|bucurești|bacău|bihor|bistrița\\-năsăud|brăila|botoșani|brașov|buzău|cluj|călărași|caraș\\-severin|constanța|covasna|dâmbovița|dolj|gorj|galați|giurgiu|hunedoara|harghita|ilfov|ialomița|iași|mehedinți|maramureș|mureș|neamț|olt|prahova|sibiu|sălaj|satu\\ mare|suceava|tulcea|timiș|teleorman|vâlcea|vrancea|vaslui|beograd|severnobački\\ okrug|srednjebanatski\\ okrug|severnobanatski\\ okrug|južnobanatski\\ okrug|zapadnobački\\ okrug|južnobački\\ okrug|sremski\\ okrug|mačvanski\\ okrug|kolubarski\\ okrug|podunavski\\ okrug|braničevski\\ okrug|šumadijski\\ okrug|pomoravski\\ okrug|borski\\ okrug|zaječarski\\ okrug|zlatiborski\\ okrug|moravički\\ okrug|raški\\ okrug|rasinski\\ okrug|nišavski\\ okrug|toplički\\ okrug|pirotski\\ okrug|jablanički\\ okrug|pčinjski\\ okrug|kosovski\\ okrug|pećki\\ okrug|prizrenski\\ okrug|kosovsko\\-mitrovački\\ okrug|kosovsko\\-pomoravski\\ okrug|kosovo\\-metohija|vojvodina|adygeya,\\ respublika|altay,\\ respublika|altayskiy\\ kray|amurskaya\\ oblast'|arkhangel'skaya\\ oblast'|astrakhanskaya\\ oblast'|bashkortostan,\\ respublika|belgorodskaya\\ oblast'|bryanskaya\\ oblast'|buryatiya,\\ respublika|chechenskaya\\ respublika|chelyabinskaya\\ oblast'|chukotskiy\\ avtonomnyy\\ okrug|chuvashskaya\\ respublika|dagestan,\\ respublika|respublika\\ ingushetiya|irkutiskaya\\ oblast'|ivanovska
[...]
