{
  "openapi": "3.1.0",
  "info": {
    "title": "Partner Service",
    "version": "0.2.239"
  },
  "servers": [
    {
      "url": "https://api.explorium.ai",
      "description": "AgentSource Server"
    }
  ],
  "paths": {
    "/healthcheck/http": {
      "get": {
        "tags": [
          "Healthcheck"
        ],
        "summary": "Healthcheck",
        "operationId": "healthcheck",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Healthcheck"
                }
              }
            }
          }
        }
      }
    },
    "/healthcheck/http_payload/{response_bytes}": {
      "get": {
        "tags": [
          "Healthcheck"
        ],
        "summary": "Healthcheck Bytes",
        "operationId": "healthcheck_bytes",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 1000000,
              "title": "Response Bytes"
            },
            "name": "response_bytes",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Healthcheck Bytes"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/version/": {
      "get": {
        "tags": [
          "Version"
        ],
        "summary": "Version",
        "operationId": "version",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Version"
                }
              }
            }
          }
        }
      }
    },
    "/v1/businesses/match": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Match Businesses",
        "description": "Match a list of businesses attributes to ids.\nReturns a list of the same length and order as the input list, with the matched ids.",
        "operationId": "match_businesses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesMatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesMatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Fetch Businesses",
        "description": "Filters businesses by country, company size, revenue, and more.\nReturns minimal data needed for further filtering, deduplication, or record previews.",
        "operationId": "fetch_businesses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/BusinessesFetchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessesFetchResponseV2"
                    }
                  ],
                  "title": "Response Fetch Businesses"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/events": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Fetch Businesses Events",
        "description": "Create events and fetch for businesses.",
        "operationId": "fetch_businesses_events",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/autocomplete": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Autocomplete Businesses",
        "description": "Autocomplete businesses by field and query.",
        "operationId": "businesses_autocomplete",
        "parameters": [
          {
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AutocompleteType"
            },
            "name": "field",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "default": ""
            },
            "name": "query",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Semantic Search",
              "default": false
            },
            "name": "semantic_search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AutoCompleteItem"
                  },
                  "type": "array",
                  "title": "Response Businesses Autocomplete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/stats": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Fetch Stats",
        "description": "Fetch stats for businesses.",
        "operationId": "fetch_stats",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesStatsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/events/enrollments": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get Businesses Enrollments",
        "description": "Show businesses events enrollments records for user.",
        "operationId": "get_businesses_enrollments",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrollmentsGetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Add Businesses Enrollments",
        "description": "Add enrollments for businesses",
        "operationId": "add_businesses_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrollmentsAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrollmentsAddResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Delete Businesses Enrollments",
        "description": "Delete events enrollments records",
        "operationId": "delete_businesses_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrollmentsDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrollmentsDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Businesses"
        ],
        "summary": "Update Businesses Enrollments",
        "description": "Update enrollments for businesses",
        "operationId": "update_businesses_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrollmentsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrollmentsUpdateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/match": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Match Prospects",
        "description": "Match a list of prospects attributes to ids.\nReturns a list of the same length and order as the input list, with the matched ids.",
        "operationId": "match_prospects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsMatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsMatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Fetch Prospects",
        "operationId": "fetch_prospects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ProspectsFetchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ProspectsFetchResponseV2"
                    }
                  ],
                  "title": "Response Fetch Prospects"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/stats": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Prospect Fetch Stats",
        "description": "Fetch stats for businesses.",
        "operationId": "prospect_fetch_stats",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsStatsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/events": {
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Fetch Prospects Events",
        "description": "Create events and fetch for prospects.",
        "operationId": "fetch_prospects_events",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/autocomplete": {
      "get": {
        "tags": [
          "Prospects"
        ],
        "summary": "Autocomplete Prospects",
        "description": "Autocomplete prospects fields values by field name.",
        "operationId": "prospects_autocomplete",
        "parameters": [
          {
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AutocompleteType"
            },
            "name": "field",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "default": ""
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AutoCompleteItem"
                  },
                  "type": "array",
                  "title": "Response Prospects Autocomplete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/events/enrollments": {
      "get": {
        "tags": [
          "Prospects"
        ],
        "summary": "Get Prospects Enrollments",
        "description": "Show prospects events enrollments records for user.",
        "operationId": "get_prospects_enrollments",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrollmentsGetResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Prospects"
        ],
        "summary": "Add Prospects Enrollments",
        "description": "Add enrollments for prospects",
        "operationId": "add_prospects_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsEnrollmentsAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrollmentsAddResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Prospects"
        ],
        "summary": "Delete Prospects Enrollments",
        "description": "Delete events enrollments records",
        "operationId": "delete_prospects_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsEnrollmentsDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrollmentsDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Prospects"
        ],
        "summary": "Update Prospects Enrollments",
        "description": "Update enrollments for prospects",
        "operationId": "update_prospects_enrollments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsEnrollmentsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrollmentsUpdateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/credits": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get Active Credits Summary",
        "operationId": "get_active_credits_summary",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveCreditSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/credits/aggregation": {
      "post": {
        "tags": [
          "Credits"
        ],
        "summary": "Get Credit Aggregation",
        "operationId": "get_credit_aggregation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditAggregationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditAggregationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Add Webhook",
        "description": "Add a webhook for events enrollments.",
        "operationId": "add_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookAddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookAddResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/{partner_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook",
        "description": "Get an events enrollments webhook by partner_id.",
        "operationId": "get_webhook",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Partner Id"
            },
            "name": "partner_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook",
        "description": "Delete an events enrollments webhook by partner_id.",
        "operationId": "delete_webhook",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Partner Id"
            },
            "name": "partner_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/webhooks/check_connectivity": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Check Webhook Connectivity",
        "operationId": "check_webhook_connectivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCheckConnectivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCheckConnectivityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/bombora_intent/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Bombora Intent",
        "operationId": "businesses_bombora_intent_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BomboraIntentEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_BomboraIntentOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_hierarchies/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Company Hierarchies",
        "operationId": "businesses_company_hierarchies_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_CompanyHierarchiesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_ratings_by_employees/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Company Ratings By Employees",
        "operationId": "businesses_company_ratings_by_employees_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_CompanyRatingsByEmployeesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_website_keywords/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Company Website Keywords",
        "operationId": "businesses_company_website_keywords_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWebsiteKeywordsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_CompanyWebsiteKeywordsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/financial_indicators/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Financial Indicators",
        "operationId": "businesses_financial_indicators_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialIndicatorsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_FinancialIndicatorsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/firmographics/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Firmographics",
        "operationId": "businesses_firmographics_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_FirmographicsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/funding_and_acquisition/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Funding And Acquisition",
        "operationId": "businesses_funding_and_acquisition_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_FundingAndAcquisitionOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/linkedin_posts/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Linkedin Posts",
        "operationId": "businesses_linkedin_posts_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partner_service__models__businesses__enrich_requests__LinkedInPostsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_LinkedinCompaniesPostsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/lookalikes/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Lookalikes",
        "operationId": "businesses_lookalikes_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_LookalikesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_business_challenges_10k/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Pc Business Challenges 10K",
        "operationId": "businesses_pc_business_challenges_10k_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_PCBusinessChallenges10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_competitive_landscape_10k/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Pc Competitive Landscape 10K",
        "operationId": "businesses_pc_competitive_landscape_10k_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_PCCompetitiveLandscape10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_strategy_10k/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Pc Strategy 10K",
        "operationId": "businesses_pc_strategy_10k_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_PCStrategy10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/technographics/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Technographics",
        "operationId": "businesses_technographics_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_TechnographicsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/website_changes/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Website Changes",
        "operationId": "businesses_website_changes_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_WebsiteChangesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/website_traffic/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Website Traffic",
        "operationId": "businesses_website_traffic_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteTrafficEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_WebsiteTrafficOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/webstack/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Webstack",
        "operationId": "businesses_webstack_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_WebstackOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/workforce_trends/enrich": {
      "post": {
        "tags": [
          "BusinessEnrichments"
        ],
        "summary": "Workforce Trends",
        "operationId": "businesses_workforce_trends_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesEnrichResponse_WorkforceTrendsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/bombora_intent/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Bombora Intent",
        "operationId": "businesses_bombora_intent_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BomboraIntentBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_BomboraIntentOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_hierarchies/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Company Hierarchies",
        "operationId": "businesses_company_hierarchies_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_CompanyHierarchiesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_ratings_by_employees/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Company Ratings By Employees",
        "operationId": "businesses_company_ratings_by_employees_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_CompanyRatingsByEmployeesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/company_website_keywords/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Company Website Keywords",
        "operationId": "businesses_company_website_keywords_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyWebsiteKeywordsBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_CompanyWebsiteKeywordsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/financial_indicators/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Financial Indicators",
        "operationId": "businesses_financial_indicators_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialIndicatorsBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_FinancialIndicatorsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/firmographics/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Firmographics",
        "operationId": "businesses_firmographics_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_FirmographicsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/funding_and_acquisition/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Funding And Acquisition",
        "operationId": "businesses_funding_and_acquisition_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_FundingAndAcquisitionOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/linkedin_posts/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Linkedin Posts",
        "operationId": "businesses_linkedin_posts_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partner_service__models__businesses__enrich_requests__LinkedInPostsBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_LinkedinCompaniesPostsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/lookalikes/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Lookalikes",
        "operationId": "businesses_lookalikes_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_LookalikesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_business_challenges_10k/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Pc Business Challenges 10K",
        "operationId": "businesses_pc_business_challenges_10k_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_PCBusinessChallenges10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_competitive_landscape_10k/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Pc Competitive Landscape 10K",
        "operationId": "businesses_pc_competitive_landscape_10k_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_PCCompetitiveLandscape10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/pc_strategy_10k/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Pc Strategy 10K",
        "operationId": "businesses_pc_strategy_10k_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_PCStrategy10kOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/technographics/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Technographics",
        "operationId": "businesses_technographics_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_TechnographicsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/website_changes/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Website Changes",
        "operationId": "businesses_website_changes_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_WebsiteChangesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/website_traffic/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Website Traffic",
        "operationId": "businesses_website_traffic_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteTrafficBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_WebsiteTrafficOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/webstack/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Webstack",
        "operationId": "businesses_webstack_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_WebstackOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/businesses/workforce_trends/bulk_enrich": {
      "post": {
        "tags": [
          "BulkBusinessEnrichments"
        ],
        "summary": "Workforce Trends",
        "operationId": "businesses_workforce_trends_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessesBulkEnrichResponse_WorkforceTrendsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/contacts_information/bulk_enrich": {
      "post": {
        "tags": [
          "ProspectsBulkEnrichments"
        ],
        "summary": "Contacts Information",
        "operationId": "prospects_contacts_information_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsBulkContactsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsBulkEnrichResponse_ContactsInformationOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/linkedin_posts/bulk_enrich": {
      "post": {
        "tags": [
          "ProspectsBulkEnrichments"
        ],
        "summary": "Linkedin Posts",
        "operationId": "prospects_linkedin_posts_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partner_service__models__prospects__enrich_requests__LinkedInPostsBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsBulkEnrichResponse_LinkedinProspectsPostsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/profiles/bulk_enrich": {
      "post": {
        "tags": [
          "ProspectsBulkEnrichments"
        ],
        "summary": "Profiles",
        "operationId": "prospects_profiles_bulk_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsBulkEnrichResponse_ProfilesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/contacts_information/enrich": {
      "post": {
        "tags": [
          "ProspectsEnrichments"
        ],
        "summary": "Contacts Information",
        "operationId": "prospects_contacts_information_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsContactsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrichResponse_ContactsInformationOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/linkedin_posts/enrich": {
      "post": {
        "tags": [
          "ProspectsEnrichments"
        ],
        "summary": "Linkedin Posts",
        "operationId": "prospects_linkedin_posts_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/partner_service__models__prospects__enrich_requests__LinkedInPostsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrichResponse_LinkedinProspectsPostsOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/prospects/profiles/enrich": {
      "post": {
        "tags": [
          "ProspectsEnrichments"
        ],
        "summary": "Profiles",
        "operationId": "prospects_profiles_enrich",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProspectsEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsEnrichResponse_ProfilesOutputSchema_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/custom_enrichments/{custom_enrichment_id}/enrich": {
      "post": {
        "tags": [
          "CustomEnrichments"
        ],
        "summary": "Enrich With Custom Enrichment",
        "description": "Enrich a business using a custom enrichment.\nReturns enriched data with the results from the custom enrichment.",
        "operationId": "enrich_with_custom_enrichment",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Custom Enrichment Id"
            },
            "name": "custom_enrichment_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEnrichmentEnrichResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v1/custom_enrichments/{enrichment_id}/bulk_enrich": {
      "post": {
        "tags": [
          "CustomEnrichments"
        ],
        "summary": "Bulk Enrich With Custom Enrichment",
        "description": "Enrich businesses using a custom enrichment.\nReturns enriched data with the results from the custom enrichment.",
        "operationId": "bulk_enrich_with_custom_enrichment",
        "parameters": [
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Enrichment Id"
            },
            "name": "enrichment_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessesBulkEnrichRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEnrichmentEnrichResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActiveCreditSummaryResponse": {
        "properties": {
          "response_context": {
            "$ref": "#/components/schemas/ResponseContext"
          },
          "allocated_credits": {
            "type": "integer",
            "title": "Allocated Credits",
            "description": "Number of allocated credits"
          },
          "remaining_credits": {
            "type": "integer",
            "title": "Remaining Credits",
            "description": "Number of remaining credits"
          }
        },
        "type": "object",
        "required": [
          "response_context",
          "allocated_credits",
          "remaining_credits"
        ],
        "title": "ActiveCreditSummaryResponse",
        "description": "This is base response model for all responses in partner service. "
      },
      "AnyMatchFilter_OrganizationName_": {
        "properties": {
          "values": {
            "items": {
              "type": "string",
              "maxLength": 256
            },
            "type": "array",
            "title": "Values"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "values"
        ],
        "title": "AnyMatchFilter[OrganizationName]"
      },
      "AnyMatchFilter_Text_": {
        "properties": {
          "values": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Values"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "values"
        ],
        "title": "AnyMatchFilter[Text]"
      },
      "AnyMatchPhraseFilter_Text_": {
        "properties": {
          "values": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Values"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "values"
        ],
        "title": "AnyMatchPhraseFilter[Text]"
      },
      "AutoCompleteItem": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "value": {
            "type": "string",
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "query",
          "label",
          "value"
        ],
        "title": "AutoCompleteItem",
        "example": {
          "query": "united",
          "label": "United States",
          "value": "us"
        }
      },
      "AutocompleteType": {
        "enum": [
          "country",
          "country_code",
          "region_country_code",
          "google_category",
          "naics_category",
          "linkedin_category",
          "company_tech_stack_tech",
          "company_tech_stack_categories",
          "job_title",
          "company_size",
          "company_revenue",
          "number_of_locations",
          "company_age",
          "job_department",
          "job_level",
          "city_region_country",
          "company_name",
          "business_intent_topics"
        ],
        "title": "AutocompleteType",
        "description": "Enum for autocomplete types."
      },
      "BaseEventParameter": {
        "properties": {

        },
        "type": "object",
        "title": "BaseEventParameter"
      },
      "BaseFetchMode": {
        "type": "string",
        "enum": [
          "full",
          "preview"
        ],
        "title": "BaseFetchMode",
        "description": "The `BaseFetchMode` class is an enumeration that defines the modes for fetching data.\n\nThis enum is used to specify whether the fetch operation should retrieve the full data\nor just a preview of the data. It ensures consistent handling of fetch modes across\nthe application.\n\nAttributes:\n    FULL: Fetch the complete data.\n    PREVIEW: Fetch a preview or partial data."
      },
      "BomboraIntentBulkEnrichRequest": {
        "properties": {
          "request_context": {
            "type": "object",
            "title": "Request Context"
          },
          "parameters": {
            "$ref": "#/components/schemas/BomboraIntentEnrichmentParams"
          },
          "business_ids": {
            "items": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "type": "array",
            "maxItems": 50,
            "minItems": 1,
            "title": "Business Ids"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "business_ids"
        ],
        "title": "BomboraIntentBulkEnrichRequest"
      },
      "BomboraIntentEnrichRequest": {
        "properties": {
          "request_context": {
            "type": "object",
            "title": "Request Context"
          },
          "parameters": {
            "$ref": "#/components/schemas/BomboraIntentEnrichmentParams"
          },
          "business_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "title": "Business Id"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "business_id"
        ],
        "title": "BomboraIntentEnrichRequest"
      },
      "BomboraIntentEnrichmentParams": {
        "properties": {
          "topics": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Topics"
          },
          "min_score": {
            "type": "integer",
            "title": "Min Score"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "BomboraIntentEnrichmentParams"
      },
      "BomboraIntentOutputSchema": {
        "properties": {
          "business_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "title": "Business Id"
          },
          "company_name": {
            "type": "string",
            "maxLength": 256,
            "title": "Company Name"
          },
          "company_website": {
            "type": "string",
            "maxLength": 2048,
            "pattern": "^(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\u00a1-\\uffff]\\.)+[a-z\\u00a1-\\uffff]{2,}\\.?(?:[/?#]\\S*)?$",
            "format": "uri",
            "title": "Company Website"
          },
          "date_stamp": {
            "type": "string",
            "title": "Date Stamp"
          },
          "intent_topics": {
            "type": "string",
            "title": "Intent Topics"
          },
          "level_of_intent": {
            "type": "string",
            "title": "Level Of Intent"
          },
          "topic_count": {
            "type": "string",
            "title": "Topic Count"
          }
        },
        "type": "object",
        "required": [
          "intent_topics"
        ],
        "title": "BomboraIntentOutputSchema"
      },
      "Business": {
        "properties": {
          "business_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$",
            "title": "Business Id"
          },
          "name": {
            "type": "string",
            "maxLength": 256,
            "title": "Name"
          },
          "domain": {
            "type": "string",
            "maxLength": 2048,
            "pattern": "^(?:(?:[a-z0-9\\u00a1-\\uffff][a-z0-9\\u00a1-\\uffff_-]{0,62})?[a-z0-9\\u00a1-\\uffff]\\.)+(?:[a-z\\u00a1-\\uffff]{2,}\\.?)$",
            "title": "Domain"
          },
          "logo": {
            "type": "string",
            "title": "Logo"
          },
          "country_name": {
            "type": "string",
            "pattern": "^(aruba|afghanistan|angola|anguilla|åland\\ islands|albania|andorra|united\\ arab\\ emirates|argentina|armenia|american\\ samoa|antarctica|french\\ southern\\ territories|antigua\\ and\\ barbuda|australia|austria|azerbaijan|burundi|belgium|benin|bonaire,\\ sint\\ eustatius\\ and\\ saba|burkina\\ faso|bangladesh|bulgaria|bahrain|bahamas|bosnia\\ and\\ herzegovina|saint\\ barthélemy|belarus|belize|bermuda|bolivia,\\ plurinational\\ state\\ of|brazil|barbados|brunei\\ darussalam|bhutan|bouvet\\ island|botswana|central\\ african\\ republic|canada|cocos\\ \\(keeling\\)\\ islands|switzerland|chile|china|côte\\ d'ivoire|cameroon|congo,\\ the\\ democratic\\ republic\\ of\\ the|congo|cook\\ islands|colombia|comoros|cabo\\ verde|costa\\ rica|cuba|curaçao|christmas\\ island|cayman\\ islands|cyprus|czechia|germany|djibouti|dominica|denmark|dominican\\ republic|algeria|ecuador|egypt|eritrea|western\\ sahara|spain|estonia|ethiopia|finland|fiji|falkland\\ islands\\ \\(malvinas\\)|france|faroe\\ islands|micronesia,\\ federated\\ states\\ of|gabon|united\\ kingdom|georgia|guernsey|ghana|gibraltar|guinea|guadeloupe|gambia|guinea\\-bissau|equatorial\\ guinea|greece|grenada|greenland|guatemala|french\\ guiana|guam|guyana|hong\\ kong|heard\\ island\\ and\\ mcdonald\\ islands|honduras|croatia|haiti|hungary|indonesia|isle\\ of\\ man|india|british\\ indian\\ ocean\\ territory|ireland|iran,\\ islamic\\ republic\\ of|iraq|iceland|israel|italy|jamaica|jersey|jordan|japan|kazakhstan|kenya|kyrgyzstan|cambodia|kiribati|saint\\ kitts\\ and\\ nevis|korea,\\ republic\\ of|kuwait|lao\\ people's\\ democratic\\ republic|lebanon|liberia|libya|saint\\ lucia|liechtenstein|sri\\ lanka|lesotho|lithuania|luxembourg|latvia|macao|saint\\ martin\\ \\(french\\ part\\)|morocco|monaco|moldova,\\ republic\\ of|madagascar|maldives|mexico|marshall\\ islands|north\\ macedonia|mali|malta|myanmar|montenegro|mongolia|northern\\ mariana\\ islands|mozambique|mauritania|montserrat|martinique|mauritius|malawi|malaysia|mayotte|namibia|new\\ caledonia|niger|norfolk\\ island|nigeria|nicaragua|niue|netherlands|norway|nepal|nauru|new\\ zealand|oman|pakistan|panama|pitcairn|peru|philippines|palau|papua\\ new\\ guinea|poland|puerto\\ rico|korea,\\ democratic\\ people's\\ republic\\ of|portugal|paraguay|palestine,\\ state\\ of|french\\ polynesia|qatar|réunion|romania|russian\\ federation|rwanda|saudi\\ arabia|sudan|senegal|singapore|south\\ georgia\\ and\\ the\\ south\\ sandwich\\ islands|saint\\ helena,\\ ascension\\ and\\ tristan\\ da\\ cunha|svalbard\\ and\\ jan\\ mayen|solomon\\ islands|sierra\\ leone|el\\ salvador|san\\ marino|somalia|saint\\ pierre\\ and\\ miquelon|serbia|south\\ sudan|sao\\ tome\\ and\\ principe|suriname|slovakia|slovenia|sweden|eswatini|sint\\ maarten\\ \\(dutch\\ part\\)|seychelles|syrian\\ arab\\ republic|turks\\ and\\ caicos\\ islands|chad|togo|thailand|tajikistan|tokelau|turkmenistan|timor\\-leste|tonga|trinidad\\ and\\ tobago|tunisia|turkey|tuvalu|taiwan,\\ province\\ of\\ china|tanzania,\\ united\\ republic\\ of|uganda|ukraine|united\\ states\\ minor\\ outlying\\ islands|uruguay|united\\ states|uzbekistan|holy\\ see\\ \\(vatican\\ city\\ state\\)|saint\\ vincent\\ and\\ the\\ grenadines|venezuela,\\ bolivarian\\ republic\\ of|virgin\\ islands,\\ british|virgin\\ islands,\\ u\\.s\\.|viet\\ nam|vanuatu|wallis\\ and\\
[...]
